@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #FDFCF6;
  height: 100%;
}

html {
  height: 100%;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
}

img {
  max-width: 100%;
}

.btn {
  width: 326px;
  height: 53px;
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  padding: 0 0 10px;
  color: #FFFFFF;
  font-size: 1rem;
  cursor: pointer;
}
.btn-A {
  background-image: url(../../../signup/images/Button_PC.png);
}
@media screen and (max-width: 768px) {
  .btn-A {
    background-image: url(../../../signup/images/Button_sp.png);
    width: 310px;
  }
}
@media screen and (max-width: 480px) {
  .btn-A {
    background-image: url(../../../signup/images/Button_sp.png);
    width: 298px;
  }
}
.btn-B {
  background-image: url(../../../mypage/images/Button_wh.png);
  color: #000000;
  width: 156px;
  height: 46px;
  font-size: 1.125rem;
}
@media screen and (max-width: 480px) {
  .btn-B {
    width: 130px;
    height: 40px;
    font-size: 1rem;
  }
}
.btn-C {
  background-image: url(../../../mypage/images/Button_mi.png);
  color: #000000;
  width: 156px;
  height: 46px;
  font-size: 1.125rem;
}
@media screen and (max-width: 480px) {
  .btn-C {
    width: 130px;
    height: 40px;
    font-size: 1rem;
  }
}
.btn-D {
  background-image: url(../../../mypage/images/Button_bl.png);
  width: 156px;
  height: 46px;
  font-size: 1.125rem;
}
@media screen and (max-width: 480px) {
  .btn-D {
    width: 130px;
    height: 40px;
    font-size: 1rem;
  }
}
.btn-E {
  background-image: url(../../../images/button-edit.png);
  width: 152px;
  height: 38px;
  font-size: 1.125rem;
  padding: 0;
}
@media screen and (max-width: 480px) {
  .btn-E {
    width: 120px;
    height: 31px;
    font-size: 1rem;
  }
}
.btn-F {
  background-image: url(../../../images/Rectangle\ 4664.png);
  width: 80%;
  height: 60px;
  color: #252525;
  font-size: 1.3rem;
  margin-right: 25px;
}
@media screen and (max-width: 1100px) {
  .btn-F {
    height: 50px;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1500px) {
  .btn-F {
    max-width: 350px;
    height: 73px;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 900px) {
  .btn-F {
    width: 230px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .btn-F {
    width: 150px;
    height: 38px;
    font-size: 0.8rem;
  }
}

header {
  position: fixed;
  width: 100%;
  height: 81px;
  background: #CCC;
  padding: 22px 68.74px 21px 59.51px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  width: 76.95px;
  height: 38px;
}
@media screen and (max-width: 500px) {
  header {
    padding: 11px 25px;
  }
  header img {
    width: 63px;
    height: 32px;
  }
}

.edit-header {
  position: fixed;
  width: 100%;
  height: 81px;
  background: #FDFCF6;
  padding: 22px 41px 22px 41px;
  display: flex;
  justify-content: flex-end;
  z-index: 999;
}

.signup {
  max-width: 326px;
  margin: 91px auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .signup {
    width: 310px;
    margin-top: 191px;
  }
}
@media screen and (max-width: 480px) {
  .signup {
    width: 298px;
    margin-top: 291px;
  }
}
.signup .form_title {
  margin-bottom: 54px;
}
.signup .form_box {
  text-align: left;
  margin-bottom: 44px;
  position: relative;
}
.signup .form_box::before {
  content: "";
  width: 27px;
  height: 26px;
  background: url(../../../signup/images/Pen.png) no-repeat center center/auto 100%;
  position: absolute;
  top: 40px;
  left: 284px;
}
@media screen and (max-width: 768px) {
  .signup .form_box::before {
    left: 268px;
  }
}
@media screen and (max-width: 480px) {
  .signup .form_box::before {
    left: 253px;
  }
}
.signup .form_box input {
  width: 100%;
  padding: 13px 16px;
  border: 1.4px solid;
  border-radius: 5px;
  box-sizing: border-box;
}
.signup .form_box input::-moz-placeholder {
  opacity: 0.5;
}
.signup .form_box input::placeholder {
  opacity: 0.5;
}

.login {
  max-width: 326px;
  margin: 91px auto;
  text-align: center;
}
.login_img {
  width: 52px;
  height: 53px;
}
@media screen and (max-width: 768px) {
  .login {
    width: 310px;
    margin-top: 191px;
  }
}
@media screen and (max-width: 480px) {
  .login {
    width: 298px;
    margin-top: 291px;
  }
}
.login .form_title {
  margin-bottom: 54px;
}
.login .form_box {
  text-align: left;
  margin-bottom: 44px;
  position: relative;
}
.login .form_box::before {
  content: "";
  width: 27px;
  height: 26px;
  background: url(../../../signup/images/Pen.png) no-repeat center center/auto 100%;
  position: absolute;
  top: 40px;
  left: 284px;
}
@media screen and (max-width: 768px) {
  .login .form_box::before {
    left: 268px;
  }
}
@media screen and (max-width: 480px) {
  .login .form_box::before {
    left: 253px;
  }
}
.login .form_box input {
  width: 100%;
  padding: 13px 16px;
  border: 1.4px solid;
  border-radius: 5px;
  box-sizing: border-box;
}
.login .form_box input::-moz-placeholder {
  opacity: 0.5;
}
.login .form_box input::placeholder {
  opacity: 0.5;
}

.mypage {
  max-width: 900px;
  text-align: center;
  margin: 143px auto;
  padding: 0 15px;
}
@media screen and (min-width: 1300px) {
  .mypage {
    margin-top: 200px;
  }
}
@media screen and (max-width: 900px) {
  .mypage {
    margin-top: 153px;
  }
}
@media screen and (max-width: 480px) {
  .mypage {
    margin-top: 155px;
  }
}
.mypage_title img {
  width: 62px;
  height: 44px;
}
.mypage_title h2 {
  font-size: 1.375rem;
  margin: 18px 0 50px;
}
.mypage_flex {
  display: flex;
  justify-content: center;
  gap: 85px;
}
@media screen and (max-width: 900px) {
  .mypage_flex {
    display: inline-block;
  }
}
@media screen and (max-width: 480px) {
  .mypage_flex {
    display: inline-block;
  }
}
.mypage_flex_left {
  display: flex;
  align-items: center;
  gap: 24px;
  text-align: left;
}
.mypage_flex_left_title h2 {
  margin-bottom: 9px;
}
@media screen and (max-width: 900px) {
  .mypage_flex_left_title h2 {
    margin-bottom: 15px;
  }
}
.mypage_flex_left_title_box img {
  width: 240px;
}
@media screen and (max-width: 900px) {
  .mypage_flex_left_title_box img {
    width: 220px;
  }
}
@media screen and (max-width: 480px) {
  .mypage_flex_left_title_box img {
    width: 200px;
  }
}
.mypage_flex_left_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
@media screen and (max-width: 480px) {
  .mypage_flex_left_menu {
    margin-top: 47px;
  }
}
.mypage_flex_left_menu_icon {
  margin-bottom: 5px;
}
.mypage_flex_left_menu_icon img {
  width: 27px;
}
.mypage_flex_right {
  display: flex;
  align-items: center;
  gap: 24px;
  text-align: left;
}
@media screen and (max-width: 900px) {
  .mypage_flex_right {
    margin-top: 36px;
  }
}
.mypage_flex_right_title h2 {
  margin-bottom: 9px;
}
@media screen and (max-width: 900px) {
  .mypage_flex_right_title h2 {
    margin-bottom: 15px;
  }
}
.mypage_flex_right_title_box img {
  width: 240px;
}
@media screen and (max-width: 900px) {
  .mypage_flex_right_title_box img {
    width: 220px;
  }
}
@media screen and (max-width: 480px) {
  .mypage_flex_right_title_box img {
    width: 200px;
  }
}
.mypage_flex_right_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
@media screen and (max-width: 480px) {
  .mypage_flex_right_menu {
    margin-top: 47px;
  }
}
.mypage_flex_right_menu_icon {
  margin-bottom: 5px;
}
.mypage_flex_right_menu_icon img {
  width: 27px;
}

.edit-body {
  background: #D5DADC;
  height: auto;
}
.edit_drawer {
  width: 29%;
  background-color: #535353;
  color: white;
  position: fixed;
  top: 81px;
  left: -50%;
  height: 100%;
  border-radius: 20px;
  transition: left 0.3s ease;
  margin-left: 55px;
  z-index: 2;
}
.edit_drawer.open {
  left: 0;
}
@media screen and (max-width: 900px) {
  .edit_drawer {
    width: 100%;
    left: 0;
    top: 60%; /* フッターの上に配置 */
    height: 40%;
    border-radius: 0;
    position: fixed;
    transition: transform 0.3s ease;
    transform: translateY(100%); /* ドロワーの初期位置 */
    margin: 0;
  }
  .edit_drawer.open {
    transform: translateY(0); /* ドロワーを表示する */
  }
}
.edit_drawer .close-btn {
  position: absolute;
  top: 21px;
  right: 6px;
  background: none;
  border: none;
  cursor: pointer;
}
.edit_drawer .close-btn img {
  width: 45%;
}
.edit_drawer_container_item {
  display: none;
}
.edit_drawer_container_item_upload {
  text-align: center;
  height: 100%;
  margin: 28px 17px 0 35px;
}
.edit_drawer_container_item_upload #uploadZone {
  text-align: center;
}
.edit_drawer_container_item_upload #uploadZone_wrapper {
  position: relative;
  display: inline-block;
}
.edit_drawer_container_item_upload .imageList-container {
  height: 100vh;
  overflow: auto;
  height: calc(100vh - 200px);
}
.edit_drawer_container_item_upload .imageList-container #imgPreviewField {
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;
  gap: 14px;
}
.edit_drawer_container_item_upload .imageList-container #imgPreviewField img {
  width: calc(50% - 10px);
  cursor: grab;
}
.edit_drawer_container_item.active {
  display: block;
}
.edit_drawer_container_item {
  display: none;
}
.edit_drawer_container_item_color {
  text-align: center;
  height: 400px;
  margin: 28px 40px 0 35px;
}
.edit_drawer_container_item_color h2 {
  font-size: 1.25rem;
  text-align: left;
}
.edit_drawer_container_item_color .color-container {
  height: 100vh;
  overflow: auto;
  height: calc(100vh - 200px);
}
@media screen and (max-width: 900px) {
  .edit_drawer_container_item_color .color-container {
    height: calc(100vh - 500px);
  }
}
.edit_drawer_container_item_color .color-container_vari {
  display: flex;
  flex-wrap: wrap;
  margin: 23px auto;
  padding: 10px;
  justify-content: space-between;
}
.edit_drawer_container_item_color .color-container_vari .btn-color {
  width: 28%;
  height: 37px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  color: transparent;
  cursor: pointer;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-1 {
  background-color: #e6cd00;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-2 {
  background-color: #aad24b;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-3 {
  background-color: #32b973;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-4 {
  background-color: #23beb9;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-5 {
  background-color: #6ec8f5;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-6 {
  background-color: #4b91cd;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-7 {
  background-color: #645aaa;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-8 {
  background-color: #b464aa;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-9 {
  background-color: #eb6ea5;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-10 {
  background-color: #f06e7d;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-11 {
  background-color: #f06e46;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-12 {
  background-color: #f06e46;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-13 {
  background-color: #e6c300;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-14 {
  background-color: #82b41e;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-15 {
  background-color: #009141;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-16 {
  background-color: #00918c;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-17 {
  background-color: #00a0dc;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-18 {
  background-color: #0064aa;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-19 {
  background-color: #32328c;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-20 {
  background-color: #87007d;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-21 {
  background-color: #0064aa;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-22 {
  background-color: #0064aa;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-23 {
  background-color: #0064aa;
}
.edit_drawer_container_item_color .color-container_vari .btn-color-23 {
  background-color: #0064aa;
}
.edit_drawer_container_item {
  display: none;
}
.edit_drawer_container_item_frame {
  text-align: center;
  height: 400px;
  margin: 28px 40px 0 35px;
}
.edit_drawer_container_item_frame h2 {
  font-size: 1.25rem;
  text-align: left;
}
.edit_drawer_container_item_frame .frame-container_vari {
  display: flex;
  flex-wrap: wrap;
  margin: 23px auto;
  padding: 10px;
}
.edit_drawer_container_item_frame .frame-container_vari .resizeButton {
  width: 50%;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}
.edit_drawer_container_item_frame .frame-container_vari .resizeButton img {
  width: 100%;
  height: auto;
}
.edit .sidebar {
  width: 75px;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 81px;
  left: 0;
  height: 100%;
  transition: transform 0.3s ease;
  transform: translateX(0);
  z-index: 1;
}
@media screen and (max-width: 900px) {
  .edit .sidebar {
    display: none;
  }
}
.edit .sidebar-sp {
  display: none;
}
@media screen and (max-width: 900px) {
  .edit .sidebar-sp {
    width: 100%;
    background-color: #252525;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 45px;
    transition: transform 0.3s ease;
    transform: translateY(0);
    z-index: 1;
  }
}
@media screen and (max-width: 900px) {
  .edit .sidebar-sp.open {
    transform: translateY(0);
  }
}
.edit .sideBtn {
  position: fixed;
  top: 81px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}
@media screen and (max-width: 900px) {
  .edit .sideBtn {
    display: none;
  }
}
.edit .sideBtn .open-btn {
  font-size: 16px;
  background: #252525;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  width: 75px;
  height: 75px;
}
.edit .sideBtn .open-btn.active {
  background: #535353;
  border: 2px solid #252525;
}
.edit .sideBtn .open-btn img {
  width: 35px;
  height: 36px;
  margin-top: 5px;
}
.edit .sideBtn-sp {
  display: none;
}
@media screen and (max-width: 900px) {
  .edit .sideBtn-sp {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    display: flex;
    width: 100%;
    height: 45px;
    z-index: 3;
  }
}
@media screen and (max-width: 900px) {
  .edit .sideBtn-sp .open-btn {
    flex: 1; /* ボタンを均等に広げる */
    font-size: 16px;
    background: #252525;
    border: none;
    border-radius: 20px 20px 0 0; /* ボタンの角を丸めない */
    color: white;
    cursor: pointer;
    height: 100%; /* 高さを100%に設定 */
  }
  .edit .sideBtn-sp .open-btn.active {
    background: #535353;
    border: 2px solid #252525;
  }
  .edit .sideBtn-sp .open-btn img {
    width: 24px;
    height: 25px;
    margin-top: 5px;
  }
}
.edit .content {
  margin-top: 100px;
  margin-left: 77px; /* 初期マージン */
  transition: margin-left 0.3s ease;
}
@media screen and (max-width: 900px) {
  .edit .content {
    margin: 85px 0 0 0;
    transition: margin-top 0.3s ease, margin-right 0.3s ease, margin-bottom 0.3s ease, margin-left 0.3s ease;
  }
}
.edit .content.open {
  margin-left: 32.5%;
}
@media screen and (max-width: 1100px) {
  .edit .content.open {
    margin-left: 33.5%;
  }
}
@media screen and (min-width: 1900px) {
  .edit .content.open {
    margin-left: 31.5%;
  }
}
@media screen and (max-width: 900px) {
  .edit .content.open {
    margin: 90px 22% 0;
  }
}
.edit .content .swiper {
  width: 50%;
  height: 100%;
  min-width: 600px;
}
@media screen and (max-width: 900px) {
  .edit .content .swiper {
    display: block;
    width: 80%;
    min-width: auto;
  }
}
.edit .content .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  width: auto;
  height: 100%;
}
.edit .content .swiper-wrapper .swiper-slide_box {
  max-width: 500px;
  position: relative;
  margin: 50px 0 0;
}
@media screen and (max-width: 900px) {
  .edit .content .swiper-wrapper .swiper-slide_box {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .edit .content .swiper-wrapper .swiper-slide_box {
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .edit .content .swiper-wrapper .swiper-slide_box {
    width: 70%;
  }
}
@media screen and (max-width: 330px) {
  .edit .content .swiper-wrapper .swiper-slide_box {
    width: 50%;
  }
}
.edit .content .swiper-wrapper .swiper-slide_box_input {
  position: absolute;
  top: 20px;
  left: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  top: 32px;
}

.swiper-button-prev {
  left: 36%;
}

.swiper-button-next {
  left: 58%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  margin: auto;
}

/* 前に戻る画像パス */
.swiper-button-prev:after {
  background-image: url(../../../edit/images/Group\ 293.png);
}

/* 次に進む画像パス */
.swiper-button-next:after {
  background-image: url(../../../edit/images/Group\ 294.png);
}

#dropArea {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  font-size: 1rem;
  border: 2px dashed #ccc;
  cursor: pointer;
}

#dropArea2 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  font-size: 1rem;
  border: 2px dashed #ccc;
  cursor: pointer;
}

#dropArea img, #dropArea2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

#dropArea .crop-btn, #dropArea2 .crop-btn {
  position: absolute;
  top: 5px;
  right: 45px; /* 削除ボタンの位置を避けるため、右側に配置 */
  background: rgba(0, 255, 0, 0.7); /* トリミングボタンの背景色 */
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.8;
}

#dropArea .crop-btn:hover, #dropArea2 .crop-btn:hover {
  background: rgb(0, 255, 0);
  opacity: 1;
}

#dropArea .delete-btn, #dropArea2 .delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.8;
}

#dropArea .delete-btn:hover, #dropArea2 .delete-btn:hover {
  background: rgb(255, 0, 0);
  opacity: 1;
}

#dropArea .delete-btn.show,
#dropArea2 .delete-btn.show,
#dropArea .crop-btn.show,
#dropArea2 .crop-btn.show {
  display: flex; /* showクラスが付けられたときに表示 */
}

#dropArea.active, #dropArea2.active {
  border-color: #f00; /* クリック時の枠の色 */
}

#dropArea.square, #dropArea2.square {
  width: 57%;
  height: 40%;
}

#dropArea.rectangle, #dropArea2.rectangle {
  width: 62%;
  height: 30%;
}

#dropArea.mini, #dropArea2.mini {
  width: 52%;
  height: 20%;
}

.croppie-modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.croppie-modal #croppie-container {
  margin-bottom: 10px;
}

#customButton {
  background-color: #4CAF50; /* ボタンの背景色 */
  color: white; /* ボタンの文字色 */
  border: none; /* ボタンの枠線を削除 */
  padding: 10px 20px; /* ボタンの内側の余白 */
  text-align: center; /* 文字を中央に配置 */
  text-decoration: none; /* テキストの下線を削除 */
  display: inline-block; /* インラインブロックとして表示 */
  font-size: 16px; /* フォントサイズ */
  margin: 4px 2px; /* 外側の余白 */
  cursor: pointer; /* カーソルをポインターに変更 */
  border-radius: 4px; /* ボタンの角を丸める */
}

#customButton:hover {
  background-color: #45a049; /* ホバー時の背景色 */
}/*# sourceMappingURL=style.css.map */