// html,
// body {
//   touch-action: auto;
//   overscroll-behavior: contain;
// }
.coverB-body {
  background: #d5dadc;
}

.coverB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  @include mq('tab-edit') {
    display: block;
  }

  &_drawer {
    width: 29%;
    background-color: #535353;
    color: white;
    position: fixed;
    top: 81px;
    left: -50%;
    height: 100%;
    border-radius: 20px;
    transition: left 0.3s ease;
    margin-left: 55px;
    z-index: 2;

    &.open {
      left: 0;
    }

    @include mq('tab-edit') {
      width: 100%;
      left: 0;
      top: 60%;
      height: 40%;
      border-radius: 0;
      position: fixed;
      transition: transform 0.3s ease;
      transform: translateY(100%);
      margin: 0;

      &.open {
        transform: translateY(0);
      }
    }

    .close-btn {
      position: absolute;
      // top: 29px;
      top: 21px;
      // right: 20px;
      right: 6px;
      // font-size: 1.5rem;
      // color: white;
      background: none;
      border: none;
      cursor: pointer;

      img {
        width: 45%;
      }
    }

    &_container {
      &_item {
        display: none;

        &_upload {
          text-align: center;
          height: 100%;
          margin: 28px 17px 0 35px;

          #uploadZone {
            text-align: center;

            &_wrapper {
              position: relative;
              display: inline-block;
            }
          }

          .imageList-container {
            height: 100vh;
            overflow: auto;
            height: calc(100vh - 200px);

            @include mq('tab-edit') {
              height: calc(100vh - 500px);
            }

            #imgPreviewField {
              // 多分いりますね
              max-width: 350px;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              margin: 20px auto;
              gap: 14px;

              img {
                width: calc(50% - 10px);
                cursor: grab;

                &.selected {
                  border: 3px solid blue;
                }
              }
            }
          }
        }

        &.active {
          display: block;
        }
      }

      &_item {
        display: none;

        &_color {
          text-align: center;
          height: 400px;
          margin: 28px 40px 0 35px;

          h2 {
            font-size: 1.25rem;
            text-align: left;
          }

          .color-container {
            height: 100vh;
            overflow: auto;
            height: calc(100vh - 200px);

            @include mq('tab-edit') {
              height: calc(100vh - 500px);
            }

            &_vari {
              display: flex;
              flex-wrap: wrap;
              margin: 23px auto;
              padding: 10px;
              justify-content: space-between;

              .btn-color {
                width: 28%;
                height: 37px;
                margin-bottom: 20px;
                border: none;
                border-radius: 5px;
                color: transparent;
                cursor: pointer;

                // からし色
                &-1 {
                  background-color: rgb(230, 205, 0);
                }

                &-2 {
                  background-color: rgb(230, 195, 0);
                }

                &-3 {
                  background-color: rgb(199, 222, 0);
                }

                &-4 {
                  background-color: rgb(170, 150, 0);
                }

                &-5 {
                  background-color: rgb(140, 125, 0);
                }

                &-6 {
                  background-color: rgb(130, 110, 0);
                }

                // 黄緑色
                &-7 {
                  background-color: rgb(170, 210, 75);
                }

                &-8 {
                  background-color: rgb(130, 212, 30);
                }

                &-9 {
                  background-color: rgb(125, 170, 25);
                }

                &-10 {
                  background-color: rgb(100, 140, 14);
                }

                &-11 {
                  background-color: rgb(70, 105, 0);
                }

                &-12 {
                  background-color: rgb(60, 95, 0);
                }

                // 緑色
                &-13 {
                  background-color: rgb(50, 185, 115);
                }

                &-14 {
                  background-color: rgb(0, 145, 65);
                }

                &-15 {
                  background-color: rgb(5, 135, 60);
                }

                &-16 {
                  background-color: rgb(0, 115, 50);
                }

                &-17 {
                  background-color: rgb(0, 85, 30);
                }

                &-18 {
                  background-color: rgb(0, 55, 20);
                }

                // エメラルドグリーン
                &-19 {
                  background-color: rgb(35, 190, 185);
                }

                &-20 {
                  background-color: rgb(0, 145, 140);
                }

                &-21 {
                  background-color: rgb(0, 135, 130);
                }

                &-22 {
                  background-color: rgb(5, 115, 110);
                }

                &-23 {
                  background-color: rgb(0, 90, 80);
                }

                &-24 {
                  background-color: rgb(0, 60, 55);
                }

                // 水色
                &-25 {
                  background-color: rgb(110, 200, 245);
                }

                &-26 {
                  background-color: rgb(0, 160, 220);
                }

                &-27 {
                  background-color: rgb(0, 140, 205);
                }

                &-28 {
                  background-color: rgb(0, 120, 170);
                }

                &-29 {
                  background-color: rgb(0, 90, 130);
                }

                &-30 {
                  background-color: rgb(0, 70, 100);
                }

                // 青
                &-31 {
                  background-color: rgb(77, 145, 205);
                }

                &-32 {
                  background-color: rgb(0, 100, 170);
                }

                &-33 {
                  background-color: rgb(0, 90, 160);
                }

                &-34 {
                  background-color: rgb(0, 75, 135);
                }

                &-35 {
                  background-color: rgb(0, 50, 100);
                }

                &-36 {
                  background-color: rgb(0, 35, 70);
                }

                // 紺色
                &-37 {
                  background-color: rgb(100, 90, 170);
                }

                &-38 {
                  background-color: rgb(50, 50, 140);
                }

                &-39 {
                  background-color: rgb(30, 30, 125);
                }

                &-40 {
                  background-color: rgb(15, 10, 100);
                }

                &-41 {
                  background-color: rgb(5, 0, 77);
                }

                &-42 {
                  background-color: rgb(0, 0, 45);
                }

                // 紫色
                &-43 {
                  background-color: rgb(180, 100, 170);
                }

                &-44 {
                  background-color: rgb(135, 0, 125);
                }

                &-45 {
                  background-color: rgb(125, 0, 115);
                }

                &-46 {
                  background-color: rgb(105, 0, 95);
                }

                &-47 {
                  background-color: rgb(80, 0, 70);
                }

                &-48 {
                  background-color: rgb(50, 0, 45);
                }

                // ピンク
                &-49 {
                  background-color: rgb(235, 110, 165);
                }

                &-50 {
                  background-color: rgb(215, 0, 120);
                }

                &-51 {
                  background-color: rgb(200, 0, 110);
                }

                &-52 {
                  background-color: rgb(165, 0, 90);
                }

                &-53 {
                  background-color: rgb(125, 0, 65);
                }

                &-54 {
                  background-color: rgb(95, 0, 50);
                }

                // コーラル
                &-55 {
                  background-color: rgb(240, 110, 125);
                }

                &-56 {
                  background-color: rgb(215, 0, 75);
                }

                &-57 {
                  background-color: rgb(200, 0, 65);
                }

                &-58 {
                  background-color: rgb(165, 0, 55);
                }

                &-59 {
                  background-color: rgb(125, 0, 35);
                }

                &-60 {
                  background-color: rgb(95, 0, 25);
                }

                // オレンジ
                &-61 {
                  background-color: rgb(240, 110, 70);
                }

                &-62 {
                  background-color: rgb(215, 0, 15);
                }

                &-63 {
                  background-color: rgb(200, 0, 10);
                }

                &-64 {
                  background-color: rgb(165, 0, 0);
                }

                &-65 {
                  background-color: rgb(125, 0, 0);
                }

                &-66 {
                  background-color: rgb(80, 0, 0);
                }

                // 黄色
                &-67 {
                  background-color: rgb(255, 185, 55);
                }

                &-68 {
                  background-color: rgb(225, 140, 0);
                }

                &-69 {
                  background-color: rgb(210, 130, 0);
                }

                &-70 {
                  background-color: rgb(170, 105, 0);
                }

                &-71 {
                  background-color: rgb(130, 80, 0);
                }

                &-72 {
                  background-color: rgb(100, 60, 0);
                }
              }
            }
          }
        }
      }

      &_item {
        display: none;

        &_frame {
          text-align: center;
          height: 400px;
          margin: 28px 40px 0 35px;

          h2 {
            font-size: 1.25rem;
            text-align: left;
          }

          .frame-container {
            overflow: auto;
            height: calc(100vh - 200px);
            @include mq('tab-edit') {
              height: calc(100vh - 750px);
            }
            @media (max-height: 1000px) and (max-width: 900px) {
              height: auto; /* 高さを自動で調整 */
              max-height: 27vh; /* 画面サイズに合わせて高さを制限 */
            }

            &_vari {
              display: flex;
              flex-wrap: wrap;
              margin: 23px auto;
              padding: 10px;

              .resizeButton {
                width: 50%;
                cursor: pointer;
                padding: 0;
                border: none;
                background-color: transparent;

                img {
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }
  }

  .sidebar {
    width: 75px;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 45px;
    left: 0;
    height: 100%;
    transition: transform 0.3s ease;
    transform: translateX(0);
    z-index: 1;

    @include mq('tab-edit') {
      // display: none;
      width: 100%;
      background-color: #252525;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      position: fixed;
      top: auto;
      bottom: 0;
      left: 0;
      height: 45px;
      transition: transform 0.3s ease;
      transform: translateY(0);
      z-index: 1;
    }

    &.open {
      @include mq('tab-edit') {
        transform: translateY(0);
      }
    }
  }

  .sideBtn {
    position: fixed;
    top: 45px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;

    @include mq('tab-edit') {
      // display: none;
      position: fixed;
      top: auto;
      bottom: 0;
      left: 0;
      border-radius: 20px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 100%;
      height: 45px;
      z-index: 3;
    }

    .open-btn {
      font-size: 16px;
      background: #252525;
      // border: 2px solid #436e556e;
      border: none;
      border-radius: 20px;
      color: white;
      cursor: pointer;
      width: 75px;
      height: 75px;

      @include mq('tab-edit') {
        flex: 1; /* ボタンを均等に広げる */
        font-size: 16px;
        background: #252525;
        border: none;
        border-radius: 20px 20px 0 0; /* ボタンの角を丸めない */
        color: white;
        cursor: pointer;
        width: auto;
        height: 100%; /* 高さを100%に設定 */
      }

      &.active {
        background: #535353;
        border: 2px solid #252525;
      }

      img {
        width: 35px;
        height: 36px;
        margin-top: 5px;

        @include mq('tab-edit') {
          width: 24px;
          height: 25px;
          margin-top: 5px;
        }
      }
    }
  }

  .content {
    transition: margin-left 0.3s ease;

    @include mq('pc2-edit') {
      // margin: 140px 0 0 0;
      transition: margin-top 0.3s ease, margin-right 0.3s ease, margin-bottom 0.3s ease, margin-left 0.3s ease;
    }

    @include mq('pc3-edit') {
      // margin: 200px 0 0 0;
      transition: margin-top 0.3s ease, margin-right 0.3s ease, margin-bottom 0.3s ease, margin-left 0.3s ease;
    }

    @include mq('tab-edit') {
      // margin: 85px 0 0 0;
      transition: margin-top 0.3s ease, margin-right 0.3s ease, margin-bottom 0.3s ease, margin-left 0.3s ease;
    }

    &.open {
      // margin-left: 405px; /* サイドバーが開いているときのマージン */
      margin-left: 32.5%;

      @include mq('pc-edit') {
        margin-left: 33.5%;
      }

      @include mq('pc4-edit') {
        margin-left: 31.5%;
      }

      @include mq('tab-edit') {
        margin: 0 10%;
      }
    }

    .swiper {
      width: 600px;
      height: 100%;

      @include mq('pc2-edit') {
        width: 900px;
      }

      @include mq('pc-edit') {
        width: 450px;
      }

      @include mq('tab-edit') {
        display: block;
        width: 80%;
        min-width: auto;
      }

      &-wrapper {
        .swiper-slide {
          display: flex;
          justify-content: center;
          text-align: center;
          color: #ffffff;
          width: auto;
          height: 100%;
          -ms-touch-action: auto;
          touch-action: auto;

          &_box {
            width: 50%;
            max-width: 500px;
            position: relative;
            clip-path: inset(45.5px 3px 52.5px 46px);
            @include mq('pc2-edit') {
              clip-path: inset(68px 3px 76px 69px);
            }
            @include mq('pc-edit') {
              clip-path: inset(35px 1px 40px 35px);
            }
            @include mq('tab-edit') {
              width: 70%;
              margin: 50px 0 0;
              clip-path: inset(10.3% 1% 12% 15%);
            }
            @include mq('sp-edit') {
              width: 100%;
              clip-path: inset(10.3% 0.5% 12% 15%);
            }
            @include mq('sp2-edit') {
              width: 70%;
              clip-path: inset(10.5% 0.5% 12% 15.5%);
            }
            @include mq('sp3-edit') {
              // height: 660px;
              width: 50%;
              clip-path: inset(10.3% 1% 13% 15%);
            }

            .input-drop {
              position: absolute;
              left: 13.5%;
              top: 8%;
              width: 82%;
              height: 84%;
              // background: rgb(178, 203, 225);
              opacity: 1;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: end;

              #dropAreaB {
                position: absolute;
                top: 35.5%;
                right: 5%;
                width: 88%;
                height: 56.5%;

                border: 2px dashed #ccc;
                font-size: 1rem;
                cursor: pointer;
                bottom: 10px;
                @include mq('pc2-edit') {
                  top: 35.5%;
                  right: 5%;
                  width: 88%;
                  height: 56.8%;
                }
                @include mq('pc-edit') {
                  top: 35%;
                  right: 4.7%;
                }
                @include mq('tab-edit') {
                  top: 35.5%;
                  right: 4.9%;
                  height: 57%;
                }
                @include mq('sp-edit') {
                  top: 35%;
                  right: 4.5%;
                  height: 56.8%;
                  width: 88.5%;
                }

                // ドロップ後ボタン-----------
                .crop-btn {
                  position: absolute;
                  top: 5px;
                  right: 33px;
                  background: url(/edit/images/crop.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }

                .delete-btn {
                  position: absolute;
                  top: 5px;
                  right: 5px;
                  background: url(/edit/images/delete.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              textarea {
                overflow: hidden;
                text-align: center;
                resize: none;
                // width: 60% !important;
                max-width: 60%;
                // height: 20%;
                margin: 5% 0 5%;
                font-size: 0.4rem;
                line-height: 1.9;
                background-color: transparent;
                // font-family: 'Noto Sans JP', serif;
              }
              .text-empty {
                border: 2px dashed #ccc;
                &.no-border {
                  border: none;
                }
              }

              .text-size {
                box-sizing: border-box; /* パディングと境界線を含めて要素のサイズを計算 */
                overflow: hidden; /* スクロールバーが表示されないようにする */
                resize: none; /* ユーザーがサイズを変更できないようにする */
                white-space: nowrap; /* 改行をさせない設定 */
              }

              #textArea-cover {
                margin: 0;
                position: absolute;
                width: 5% !important;
                bottom: 9%;
                right: -4.9%;
                font-weight: bold;
                font-size: 0.3rem !important;
                text-align: start;
                field-sizing: content;

                // テキストの向きを変更
                writing-mode: vertical-rl; /* 縦書き (右から左) */
                text-orientation: mixed; /* テキストの方向を調整 */
                transform: rotate(180deg); /* テキストを180度回転 */
                display: inline-block;

                overflow: hidden; /* スクロールバーを非表示 */
                resize: none;
                white-space: nowrap; /* 改行を無効にする */
                overflow-wrap: normal; /* 自動改行を無効にする */
                word-wrap: normal; /* 単語の途中での改行を無効にする */
                word-break: normal; /* 単語の途中での改行を無効にする */

                @include mq('pc-edit') {
                  font-size: 0.35rem !important;
                }

                @include mq('pc2-edit') {
                  font-size: 0.58rem !important;
                  right: -5%;
                }

                @include mq('tab-edit') {
                  font-size: 1.4vw !important;
                }

                @include mq('sp-edit') {
                  font-size: 2vw !important;
                }

                @include mq('sp2-edit') {
                  font-size: 1.5vw !important;
                }
              }

              #textArea {
                &B-1 {
                  margin: 0;
                  position: absolute;
                  max-width: 16.5%;
                  height: 4.7%;
                  top: 16.7%;
                  right: 73.8%;
                  text-align: center;
                  white-space: nowrap; /* 改行をさせない設定 */
                  font-weight: 900;
                  line-height: 0.9;
                  color: #ffffff;

                  @include mq('pc-edit') {
                    font-size: 0.7rem;
                    top: 16.7%;
                  }
                  @include mq('pc2-edit') {
                    font-size: 1.6rem;
                    top: 16.7%;
                    right: 74.5%;
                    max-width: 15.5%;
                  }
                  @include mq('tab-edit') {
                    font-size: 3vw;
                  }
                  @include mq('sp2-edit') {
                    font-size: 3vw;
                  }
                }
                &B-2 {
                  margin: 0;
                  position: absolute;
                  top: 22%;
                  right: 69.3%;
                  line-height: 1.5;
                  font-weight: bold;
                  font-size: 0.4rem;
                  display: block;
                  // field-sizing: content;
                  text-align: center;
                  max-width: 24%;
                  @include mq('pc-edit') {
                    font-size: 0.3rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.6rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.2vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 1.7vw;
                  }
                  @include mq('sp2-edit') {
                    font-size: 0.8vw;
                  }
                }
                &B-3 {
                  margin: 0;
                  position: absolute;
                  max-width: 50% !important;
                  height: 10% !important;
                  top: 5.7%;
                  right: 5%;
                  font-weight: bold;
                  font-size: 1rem;
                  text-align: right;

                  @include mq('pc-edit') {
                    font-size: 0.8rem;
                  }
                  @include mq('pc2-edit') {
                    font-size: 1.5rem;
                  }
                  @include mq('tab-edit') {
                    font-size: 3.3vw;
                  }
                  @include mq('sp-edit') {
                    font-size: 4.8vw;
                  }
                  @include mq('sp2-edit') {
                    font-size: 2.7vw;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
