.editB-body {
  background: #d5dadc;

  @include mq('tab-edit') {
  }
}

.editB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  @include mq('tab-edit') {
    display: block;
  }

  &_drawer {
    // width: 350px;
    width: 29%;
    background-color: #535353;
    color: white;
    position: fixed;
    top: 81px;
    // left: -440px;
    left: -50%;
    height: 100%;
    border-radius: 20px;
    transition: left 0.3s ease;
    margin-left: 55px;
    z-index: 2;

    &.open {
      left: 0;
    }

    @include mq('tab-edit') {
      width: 100%;
      left: 0;
      top: 60%; /* フッターの上に配置 */
      height: 40%;
      border-radius: 0;
      position: fixed;
      transition: transform 0.3s ease;
      transform: translateY(100%); /* ドロワーの初期位置 */
      margin: 0;

      &.open {
        transform: translateY(0); /* ドロワーを表示する */
      }
    }

    .close-btn {
      position: absolute;
      // top: 29px;
      top: 21px;
      // right: 20px;
      right: 6px;
      // font-size: 1.5rem;
      // color: white;
      background: none;
      border: none;
      cursor: pointer;

      img {
        width: 45%;
      }
    }

    &_container {
      &_item {
        display: none;

        &_upload {
          text-align: center;
          height: 100%;
          margin: 28px 17px 0 35px;

          #uploadZone {
            text-align: center;

            &_wrapper {
              position: relative;
              display: inline-block;

              #fileButton {
                // background-color: #4CAF50; /* ボタンの背景色 */
                // color: white; /* テキストの色 */
                // padding: 10px 20px; /* パディング */
                // border: none; /* ボーダーを無しに */
                // cursor: pointer; /* カーソルをポインターに */
                // font-size: 16px; /* フォントサイズ */
              }
            }
          }

          .imageList-container {
            height: 100vh;
            overflow: auto;
            height: calc(100vh - 200px);

            @include mq('tab-edit') {
              height: calc(100vh - 500px);
            }

            #imgPreviewField {
              // 多分いりますね
              max-width: 350px;

              display: flex;
              flex-wrap: wrap;
              align-items: center;
              margin: 20px auto;
              // gap: 35px;
              gap: 14px;

              img {
                width: calc(50% - 10px);
                cursor: grab;

                &.selected {
                  border: 3px solid blue;
                }
              }

              // figure{
              //     width: calc(50% - 10px); /* 2列に分けるための幅設定。隙間を考慮 */
              //     margin: 0; /* マージンをリセット */
              //     padding: 0; /* パディングをリセット */

              //     img{
              //         width: 100%; /* 画像をコンテナに合わせてサイズ調整 */
              //         height: auto; /* 画像のアスペクト比を保持 */
              //     }

              // }

              @include mq('pc-edit') {
                // padding: 10px;
              }
            }
          }
        }

        &.active {
          display: block;
        }
      }

      &_item {
        display: none;

        &_color {
          text-align: center;
          // background-color: #b9b9b9;
          height: 400px;
          // margin: 7% 15% 0 9%;
          margin: 28px 40px 0 35px;

          h2 {
            font-size: 1.25rem;
            text-align: left;
          }

          .color-container {
            height: 100vh;
            overflow: auto;
            height: calc(100vh - 200px);

            @include mq('tab-edit') {
              height: calc(100vh - 500px);
            }

            &_vari {
              display: flex;
              flex-wrap: wrap;
              // align-items: center;
              margin: 23px auto;
              // gap: 27px;
              padding: 10px;
              justify-content: space-between;

              .btn-color {
                // width: 27.5%;
                // width: 72px;
                width: 28%;
                height: 37px;
                margin-bottom: 20px;
                border: none;
                border-radius: 5px;
                color: transparent;
                cursor: pointer;

                // からし色
                &-1 {
                  background-color: #e6cd00;
                }

                &-2 {
                  background-color: #e6c300;
                }

                &-3 {
                  background-color: #c7de00;
                }

                &-4 {
                  background-color: #aa9600;
                }

                &-5 {
                  background-color: #8c7d00;
                }

                &-6 {
                  background-color: #826e00;
                }

                // 黄緑色
                &-7 {
                  background-color: #aad24b;
                }

                &-8 {
                  background-color: #82d41e;
                }

                &-9 {
                  background-color: #7daa19;
                }

                &-10 {
                  background-color: #648c0e;
                }

                &-11 {
                  background-color: #466900;
                }

                &-12 {
                  background-color: #3c5f00;
                }

                // 緑色
                &-13 {
                  background-color: #32b973;
                }

                &-14 {
                  background-color: #009141;
                }

                &-15 {
                  background-color: #05873c;
                }

                &-16 {
                  background-color: #007332;
                }

                &-17 {
                  background-color: #00551e;
                }

                &-18 {
                  background-color: #003714;
                }

                // エメラルドグリーン
                &-19 {
                  background-color: #23beb9;
                }

                &-20 {
                  background-color: #00918c;
                }

                &-21 {
                  background-color: #008782;
                }

                &-22 {
                  background-color: #05736e;
                }

                &-23 {
                  background-color: #005a50;
                }
                &-24 {
                  background-color: #003c37;
                }

                // 水色
                &-25 {
                  background-color: #6ec8f5;
                }
                &-26 {
                  background-color: #00a0dc;
                }
                &-27 {
                  background-color: #008ccd;
                }
                &-28 {
                  background-color: #0078aa;
                }
                &-29 {
                  background-color: #005a82;
                }
                &-30 {
                  background-color: #004664;
                }

                // 青
                &-31 {
                  background-color: #4d91cd;
                }
                &-32 {
                  background-color: #0064aa;
                }
                &-33 {
                  background-color: #005aa0;
                }
                &-34 {
                  background-color: #004b87;
                }
                &-35 {
                  background-color: #003264;
                }
                &-36 {
                  background-color: #002346;
                }

                // 紺色
                &-37 {
                  background-color: #645aaa;
                }
                &-38 {
                  background-color: #32328c;
                }
                &-39 {
                  background-color: #1e1e7d;
                }
                &-40 {
                  background-color: #0f0a64;
                }
                &-41 {
                  background-color: #05004d;
                }
                &-42 {
                  background-color: #00002d;
                }

                // 紫色
                &-43 {
                  background-color: #b464aa;
                }
                &-44 {
                  background-color: #87007d;
                }
                &-45 {
                  background-color: #7d0073;
                }
                &-46 {
                  background-color: #69005f;
                }
                &-47 {
                  background-color: #500046;
                }
                &-48 {
                  background-color: #32002d;
                }

                // ピンク
                &-49 {
                  background-color: #eb6ea5;
                }
                &-50 {
                  background-color: #d70078;
                }
                &-51 {
                  background-color: #c8006e;
                }
                &-52 {
                  background-color: #a5005a;
                }
                &-53 {
                  background-color: #7d0041;
                }
                &-54 {
                  background-color: #5f0032;
                }

                // コーラル
                &-55 {
                  background-color: #f06e7d;
                }
                &-56 {
                  background-color: #d7004b;
                }
                &-57 {
                  background-color: #c80041;
                }
                &-58 {
                  background-color: #a50037;
                }
                &-59 {
                  background-color: #7d0023;
                }
                &-60 {
                  background-color: #5f0019;
                }

                // オレンジ
                &-61 {
                  background-color: #f06e46;
                }
                &-62 {
                  background-color: #d7000f;
                }
                &-63 {
                  background-color: #c8000a;
                }
                &-64 {
                  background-color: #a50000;
                }
                &-65 {
                  background-color: #7d0000;
                }
                &-66 {
                  background-color: #500000;
                }

                // 黄色
                &-67 {
                  background-color: #ffb937;
                }
                &-68 {
                  background-color: #e18c00;
                }
                &-69 {
                  background-color: #d28200;
                }
                &-70 {
                  background-color: #aa6900;
                }
                &-71 {
                  background-color: #825000;
                }
                &-72 {
                  background-color: #643c00;
                }
              }
            }
          }
        }
      }

      &_item {
        display: none;

        &_frame {
          text-align: center;
          // background-color: #b9b9b9;
          height: 400px;
          // margin: 7% 15% 0 9%;
          margin: 28px 40px 0 35px;

          h2 {
            font-size: 1.25rem;
            text-align: left;
          }

          .frame-container {
            overflow: auto;
            height: calc(100vh - 200px);

            &_vari {
              display: flex;
              flex-wrap: wrap;
              margin: 23px auto;
              padding: 10px;

              .resizeButton {
                width: 50%;
                cursor: pointer;
                padding: 0;
                border: none;
                background-color: transparent;

                img {
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }
  }

  .sidebar {
    width: 75px;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 81px;
    left: 0;
    height: 100%;
    transition: transform 0.3s ease;
    transform: translateX(0);
    z-index: 1;

    @include mq('tab-edit') {
      // display: none;
      width: 100%;
      background-color: #252525;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      position: fixed;
      top: auto;
      bottom: 0;
      left: 0;
      height: 45px;
      transition: transform 0.3s ease;
      transform: translateY(0);
      z-index: 1;
    }

    &.open {
      @include mq('tab-edit') {
        transform: translateY(0);
      }
    }
  }

  .sideBtn {
    position: fixed;
    top: 81px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;

    @include mq('tab-edit') {
      // display: none;
      position: fixed;
      top: auto;
      bottom: 0;
      left: 0;
      border-radius: 20px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 100%;
      height: 45px;
      z-index: 3;
    }

    .open-btn {
      font-size: 16px;
      background: #252525;
      // border: 2px solid #436e556e;
      border: none;
      border-radius: 20px;
      color: white;
      cursor: pointer;
      width: 75px;
      height: 75px;

      @include mq('tab-edit') {
        flex: 1; /* ボタンを均等に広げる */
        font-size: 16px;
        background: #252525;
        border: none;
        border-radius: 20px 20px 0 0; /* ボタンの角を丸めない */
        color: white;
        cursor: pointer;
        width: auto;
        height: 100%; /* 高さを100%に設定 */
      }

      &.active {
        background: #535353;
        border: 2px solid #252525;
      }

      img {
        width: 35px;
        height: 36px;
        margin-top: 5px;

        @include mq('tab-edit') {
          width: 24px;
          height: 25px;
          margin-top: 5px;
        }
      }
    }
  }

  .content {
    transition: margin-left 0.3s ease;

    @include mq('pc2-edit') {
      transition: margin-top 0.3s ease, margin-right 0.3s ease, margin-bottom 0.3s ease, margin-left 0.3s ease;
    }

    @include mq('pc3-edit') {
      transition: margin-top 0.3s ease, margin-right 0.3s ease, margin-bottom 0.3s ease, margin-left 0.3s ease;
    }

    @include mq('tab-edit') {
      transition: margin-top 0.3s ease, margin-right 0.3s ease, margin-bottom 0.3s ease, margin-left 0.3s ease;
    }

    &.open {
      margin-left: 32.5%;

      @include mq('pc-edit') {
        margin-left: 33.5%;
      }

      @include mq('pc4-edit') {
        margin-left: 31.5%;
      }

      @include mq('tab-edit') {
        margin: 0 10%;
      }
    }

    .swiper {
      width: 600px;
      height: 100%;

      // min-width: 600px;

      @include mq('pc2-edit') {
        width: 900px;
      }

      @include mq('pc-edit') {
        width: 450px;
      }

      @include mq('tab-edit') {
        display: block;
        width: 80%;
        min-width: auto;
      }

      &-wrapper {
        .swiper-slide {
          display: flex;
          justify-content: center;
          text-align: center;

          color: #ffffff;
          width: auto;
          height: 100%;
          // background-color: #f7f7f7;
          // display: flex;
          // gap: 5px;
          // justify-content: center;
          // align-items: center;

          &_box {
            max-width: 500px;
            position: relative;
            clip-path: inset(20px 21px 26px 21px);
            @include mq('pc2-edit') {
              clip-path: inset(31px 31px 35px 30px);
            }
            @include mq('pc-edit') {
              clip-path: inset(16px 16px 21px 17px);
            }
            @include mq('tab-edit') {
              width: 70%;
              margin: 50px 0 0;
              clip-path: inset(5% 7% 6% 7%);
            }
            @include mq('sp-edit') {
              width: 100%;
              clip-path: inset(5% 7% 6% 7%);
            }
            @include mq('sp2-edit') {
              width: 70%;
              clip-path: inset(5% 7% 7% 7%);
            }
            @include mq('sp3-edit') {
              // height: 660px;
              width: 50%;
              clip-path: inset(5% 7% 8% 7%);
            }

            .input-drop {
              position: absolute;
              width: 88%;
              // background: aliceblue;
              height: 90%;
              top: 16px;
              opacity: 0.8;
              left: 6%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              .background-textArea18-1 {
                position: relative;
                width: 43%;
                height: 20%;
                background-image: url(/edit/images/cloud.png);
                background-size: contain;
                background-repeat: no-repeat;
                margin-bottom: 5%;
                margin-right: 22%;
                display: flex;
                align-items: center;
                justify-content: center;
              }

              .flex24 {
                width: 60%;
                height: 40%;
                display: flex;
                justify-content: center;
                gap: 5%;

                .drop24 {
                  width: 60%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  gap: 5%;
                }
              }

              #dropArea13 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;

                // ドロップ後ボタン-----------
                .crop-btn {
                  position: absolute;
                  top: 5px;
                  right: 33px; /* 削除ボタンの位置を避けるため、右側に配置 */
                  background: url(/edit/images/crop.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }

                .delete-btn {
                  position: absolute;
                  top: 5px;
                  right: 5px;
                  background: url(/edit/images/delete.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }
                // ----------------------------------

                // 枠サイズ変更関連---
                &.active {
                  border-color: #00000089;
                }

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              #dropArea14 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;

                // ドロップ後ボタン-----------
                .crop-btn {
                  position: absolute;
                  top: 5px;
                  right: 33px; /* 削除ボタンの位置を避けるため、右側に配置 */
                  background: url(/edit/images/crop.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }

                .delete-btn {
                  position: absolute;
                  top: 5px;
                  right: 5px;
                  background: url(/edit/images/delete.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }
                // ----------------------------------

                // 枠サイズ変更関連---
                &.active {
                  border-color: #00000089;
                }

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              #dropArea15 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;

                // ドロップ後ボタン-----------
                .crop-btn {
                  position: absolute;
                  top: 5px;
                  right: 33px; /* 削除ボタンの位置を避けるため、右側に配置 */
                  background: url(/edit/images/crop.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }

                .delete-btn {
                  position: absolute;
                  top: 5px;
                  right: 5px;
                  background: url(/edit/images/delete.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }
                // ----------------------------------

                // 枠サイズ変更関連---
                &.active {
                  border-color: #00000089;
                }

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              #dropArea16 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;

                // ドロップ後ボタン-----------
                .crop-btn {
                  position: absolute;
                  top: 5px;
                  right: 33px; /* 削除ボタンの位置を避けるため、右側に配置 */
                  background: url(/edit/images/crop.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }

                .delete-btn {
                  position: absolute;
                  top: 5px;
                  right: 5px;
                  background: url(/edit/images/delete.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }
                // ----------------------------------

                // 枠サイズ変更関連---
                &.active {
                  border-color: #00000089;
                }

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              #dropArea17 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;

                // ドロップ後ボタン-----------
                .crop-btn {
                  position: absolute;
                  top: 5px;
                  right: 33px; /* 削除ボタンの位置を避けるため、右側に配置 */
                  background: url(/edit/images/crop.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }

                .delete-btn {
                  position: absolute;
                  top: 5px;
                  right: 5px;
                  background: url(/edit/images/delete.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }
                // ----------------------------------

                // 枠サイズ変更関連---
                &.active {
                  border-color: #00000089;
                }

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              #dropArea18 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;

                // ドロップ後ボタン-----------
                .crop-btn {
                  position: absolute;
                  top: 5px;
                  right: 33px; /* 削除ボタンの位置を避けるため、右側に配置 */
                  background: url(/edit/images/crop.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }

                .delete-btn {
                  position: absolute;
                  top: 5px;
                  right: 5px;
                  background: url(/edit/images/delete.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }
                // ----------------------------------

                // 枠サイズ変更関連---
                &.active {
                  border-color: #00000089;
                }

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              #dropArea19 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;

                // ドロップ後ボタン-----------
                .crop-btn {
                  position: absolute;
                  top: 5px;
                  right: 33px; /* 削除ボタンの位置を避けるため、右側に配置 */
                  background: url(/edit/images/crop.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }

                .delete-btn {
                  position: absolute;
                  top: 5px;
                  right: 5px;
                  background: url(/edit/images/delete.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }
                // ----------------------------------

                // 枠サイズ変更関連---
                &.active {
                  border-color: #00000089;
                }

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              #dropArea20 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;

                // ドロップ後ボタン-----------
                .crop-btn {
                  position: absolute;
                  top: 5px;
                  right: 33px; /* 削除ボタンの位置を避けるため、右側に配置 */
                  background: url(/edit/images/crop.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }

                .delete-btn {
                  position: absolute;
                  top: 5px;
                  right: 5px;
                  background: url(/edit/images/delete.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }
                // ----------------------------------

                // 枠サイズ変更関連---
                &.active {
                  border-color: #00000089;
                }

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              #dropArea21 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;

                // ドロップ後ボタン-----------
                .crop-btn {
                  position: absolute;
                  top: 5px;
                  right: 33px; /* 削除ボタンの位置を避けるため、右側に配置 */
                  background: url(/edit/images/crop.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }

                .delete-btn {
                  position: absolute;
                  top: 5px;
                  right: 5px;
                  background: url(/edit/images/delete.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }
                // ----------------------------------

                // 枠サイズ変更関連---
                &.active {
                  border-color: #00000089;
                }

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              #dropArea22 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;

                // ドロップ後ボタン-----------
                .crop-btn {
                  position: absolute;
                  top: 5px;
                  right: 33px; /* 削除ボタンの位置を避けるため、右側に配置 */
                  background: url(/edit/images/crop.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }

                .delete-btn {
                  position: absolute;
                  top: 5px;
                  right: 5px;
                  background: url(/edit/images/delete.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }
                // ----------------------------------

                // 枠サイズ変更関連---
                &.active {
                  border-color: #00000089;
                }

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              #dropArea23 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;

                // ドロップ後ボタン-----------
                .crop-btn {
                  position: absolute;
                  top: 5px;
                  right: 33px; /* 削除ボタンの位置を避けるため、右側に配置 */
                  background: url(/edit/images/crop.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }

                .delete-btn {
                  position: absolute;
                  top: 5px;
                  right: 5px;
                  background: url(/edit/images/delete.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }
                // ----------------------------------

                // 枠サイズ変更関連---
                &.active {
                  border-color: #00000089;
                }

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              #dropArea24-1 {
                position: relative;
                // width: 60%;
                width: 100%;
                height: 100%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;

                // ドロップ後ボタン-----------
                .crop-btn {
                  position: absolute;
                  top: 5px;
                  right: 33px; /* 削除ボタンの位置を避けるため、右側に配置 */
                  background: url(/edit/images/crop.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }

                .delete-btn {
                  position: absolute;
                  top: 5px;
                  right: 5px;
                  background: url(/edit/images/delete.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }
                // ----------------------------------

                // 枠サイズ変更関連---
                // &.active {
                //   border-color: #f00;
                // }

                &.square {
                  width: 57%;
                  height: 40%;
                }

                &.rectangle {
                  width: 62%;
                  height: 30%;
                }

                &.mini {
                  width: 52%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              #dropArea24-2 {
                position: relative;
                // width: 60%;
                width: 100%;
                height: 100%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;

                // ドロップ後ボタン-----------
                .crop-btn {
                  position: absolute;
                  top: 5px;
                  right: 33px; /* 削除ボタンの位置を避けるため、右側に配置 */
                  background: url(/edit/images/crop.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }

                .delete-btn {
                  position: absolute;
                  top: 5px;
                  right: 5px;
                  background: url(/edit/images/delete.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }
                // ----------------------------------

                // 枠サイズ変更関連---
                // &.active {
                //   border-color: #f00;
                // }

                &.square {
                  width: 57%;
                  height: 40%;
                }

                &.rectangle {
                  width: 62%;
                  height: 30%;
                }

                &.mini {
                  width: 52%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              #dropArea24-3 {
                position: relative;
                width: 60%;
                height: 25%;
                margin-top: 5%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;

                // ドロップ後ボタン-----------
                .crop-btn {
                  position: absolute;
                  top: 5px;
                  right: 33px; /* 削除ボタンの位置を避けるため、右側に配置 */
                  background: url(/edit/images/crop.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }

                .delete-btn {
                  position: absolute;
                  top: 5px;
                  right: 5px;
                  background: url(/edit/images/delete.png);
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: none;
                  width: 28px;
                  height: 28px;
                  cursor: pointer;
                  opacity: 0.8;

                  &:hover {
                    opacity: 1;
                  }

                  &.show {
                    display: flex;
                  }
                }
                // ----------------------------------

                // 枠サイズ変更関連---
                // &.active {
                //   border-color: #f00;
                // }

                &.square {
                  width: 57%;
                  height: 40%;
                }

                &.rectangle {
                  width: 62%;
                  height: 30%;
                }

                &.mini {
                  width: 52%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              textarea {
                overflow: hidden;
                text-align: center;
                resize: none;
                max-width: 60%;
                height: 20%;
                font-size: 0.4rem;
                line-height: 1.9;
                background-color: transparent;

                @include mq('pc-edit') {
                  font-size: 0.3rem;
                }

                @include mq('pc2-edit') {
                  font-size: 0.6rem;
                }

                @include mq('tab-edit') {
                  font-size: 1.2vw;
                }

                @include mq('sp-edit') {
                  font-size: 1.7vw;
                }
              }

              #textArea {
                &13-1 {
                  min-width: 60%;
                  font-size: 1.2rem;
                  line-height: 1.5;
                  font-weight: bold;

                  @include mq('pc-edit') {
                    font-size: 0.9rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 1.7rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 3.5vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 5vw;
                  }
                }

                &13-2 {
                  min-width: 60%;
                  margin: 1% 0 5%;
                  font-size: 0.45rem;
                  line-height: 1.5;
                  font-weight: bold;

                  @include mq('pc-edit') {
                    font-size: 0.33rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.65rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.3vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 1.9vw;
                  }
                }

                &13-3 {
                  min-height: 15%;
                  max-height: 15%;
                  margin-top: 5%;
                  writing-mode: vertical-rl;
                }

                &14,
                &22 {
                  max-height: 20%;
                  min-height: 20%;
                  margin-bottom: 5%;
                  font-size: 0.6rem;
                  line-height: 1.5;
                  font-weight: bold;
                  writing-mode: vertical-rl;

                  @include mq('pc-edit') {
                    font-size: 0.45rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.9rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.8vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 2.5vw;
                  }
                }

                &15,
                &17,
                &19 {
                  max-height: 70%;
                  min-height: 70%;
                  writing-mode: vertical-rl;
                }

                &16,
                &20 {
                  min-width: 60%;
                  margin-bottom: 5%;
                  font-size: 0.6rem;
                  line-height: 1.5;
                  font-weight: bold;

                  @include mq('pc-edit') {
                    font-size: 0.45rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.9rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.8vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 2.5vw;
                  }
                }

                &18-1 {
                  margin: 0;
                  position: absolute;
                  width: 63%;
                  color: #fef8f6;
                  font-size: 0.6rem;
                  line-height: 1.5;
                  font-weight: bold;

                  @include mq('pc-edit') {
                    font-size: 0.45rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.9rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.8vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 2.5vw;
                  }
                }

                &18-2 {
                  margin: 5% 0 15%;
                  color: #fef8f6;
                  font-size: 0.6rem;
                  line-height: 1.5;
                  font-weight: bold;

                  @include mq('pc-edit') {
                    font-size: 0.45rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.9rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.8vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 2.5vw;
                  }
                }

                &21-1,
                &21-2,
                &23-1,
                &23-2 {
                  min-height: 30%;
                  max-height: 30%;
                  margin-bottom: 2.5%;
                  margin-top: 2.5%;
                  writing-mode: vertical-rl;
                }

                &24-1,
                &24-2 {
                  min-height: 100%;
                  max-height: 100%;
                  writing-mode: vertical-rl;
                }
              }
            }
          }
        }
      }
    }
  }
}

// .swiper-pagination {
// }

// .swiper-button-prev,
// .swiper-button-next {
//   top: 32px;
// }

// .swiper-button-prev {
//   left: 36%;
// }

// .swiper-button-next {
//   left: 58%;
// }

// .swiper-button-prev:after,
// .swiper-button-next:after {
//   content: '';
//   background-repeat: no-repeat;
//   background-size: contain;
//   height: 50px;
//   width: 50px;
//   margin: auto;
// }

// /* 前に戻る画像パス */
// .swiper-button-prev:after {
//   background-image: url(../../../edit/images/Group\ 293.png);
// }
// /* 次に進む画像パス */
// .swiper-button-next:after {
//   background-image: url(../../../edit/images/Group\ 294.png);
// }

.croppie-modal {
  display: none;
  border-radius: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fdfcf6;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  z-index: 999;

  #croppie-container {
    margin-bottom: 10px;

    .cr-slider {
      -webkit-appearance: none;
      width: 100%;
      height: 4px;
      background-color: #53535359;
      border-radius: 5px;
      margin: 0;
      padding: 0;
      opacity: 0.8;
      // box-sizing: border-box;
    }

    // .cr-slider::-webkit-slider-thumb {
    //   -webkit-appearance: none;
    //   appearance: none;
    //   width: 35px;
    //   height: 35px;
    //   background: url('/edit/images/Ellipse\ 7.png') no-repeat center; /* アイコン画像を指定 */
    //   margin-top: -15px;

    //   cursor: pointer;
    //   border: none;
    // }
  }

  .btn-wrapper {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;

    @include mq('tab-edit') {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }
  }
}

#customButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

#customButton:hover {
  background-color: #45a049;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: url(/edit/images/delete.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  width: 28px;
  height: 28px;
  cursor: pointer;
  opacity: 0.8;
}

.crop-button {
  position: absolute;
  top: 5px;
  right: 33px;
  background: url(/edit/images/crop.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  width: 28px;
  height: 28px;
  cursor: pointer;
  opacity: 0.8;
}
