.editB-body {
  background: #d5dadc;

  @include mq('tab-edit') {
  }
}

.editB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  @include mq('tab-edit') {
    display: block;
  }

  &_drawer {
    // width: 350px;
    width: 29%;
    background-color: #535353;
    color: white;
    position: fixed;
    top: 81px;
    // left: -440px;
    left: -50%;
    height: 100%;
    border-radius: 20px;
    transition: left 0.3s ease;
    margin-left: 55px;
    z-index: 2;

    &.open {
      left: 0;
    }

    @include mq('tab-edit') {
      width: 100%;
      left: 0;
      top: 60%; /* フッターの上に配置 */
      height: 40%;
      border-radius: 0;
      position: fixed;
      transition: transform 0.3s ease;
      transform: translateY(100%); /* ドロワーの初期位置 */
      margin: 0;

      &.open {
        transform: translateY(0); /* ドロワーを表示する */
      }
    }

    .close-btn {
      position: absolute;
      // top: 29px;
      top: 21px;
      // right: 20px;
      right: 6px;
      // font-size: 1.5rem;
      // color: white;
      background: none;
      border: none;
      cursor: pointer;

      img {
        width: 45%;
      }
    }

    &_container {
      &_item {
        display: none;

        &_upload {
          text-align: center;
          height: 100%;
          margin: 28px 17px 0 35px;

          #uploadZone {
            text-align: center;

            &_wrapper {
              position: relative;
              display: inline-block;

              #fileButton {
                // background-color: #4CAF50; /* ボタンの背景色 */
                // color: white; /* テキストの色 */
                // padding: 10px 20px; /* パディング */
                // border: none; /* ボーダーを無しに */
                // cursor: pointer; /* カーソルをポインターに */
                // font-size: 16px; /* フォントサイズ */
              }
            }
          }

          .imageList-container {
            height: 100vh;
            overflow: auto;
            height: calc(100vh - 200px);

            @include mq('tab-edit') {
              height: calc(100vh - 500px);
            }

            #imgPreviewField {
              // 多分いりますね
              max-width: 350px;

              display: flex;
              flex-wrap: wrap;
              align-items: center;
              margin: 20px auto;
              // gap: 35px;
              gap: 14px;

              img {
                width: calc(50% - 10px);
                cursor: grab;

                &.selected {
                  border: 3px solid blue;
                }
              }

              // figure{
              //     width: calc(50% - 10px); /* 2列に分けるための幅設定。隙間を考慮 */
              //     margin: 0; /* マージンをリセット */
              //     padding: 0; /* パディングをリセット */

              //     img{
              //         width: 100%; /* 画像をコンテナに合わせてサイズ調整 */
              //         height: auto; /* 画像のアスペクト比を保持 */
              //     }

              // }

              @include mq('pc-edit') {
                // padding: 10px;
              }
            }
          }
        }

        &.active {
          display: block;
        }
      }

      &_item {
        display: none;

        &_color {
          text-align: center;
          // background-color: #b9b9b9;
          height: 400px;
          // margin: 7% 15% 0 9%;
          margin: 28px 40px 0 35px;

          h2 {
            font-size: 1.25rem;
            text-align: left;
          }

          .color-container {
            height: 100vh;
            overflow: auto;
            height: calc(100vh - 200px);

            @include mq('tab-edit') {
              height: calc(100vh - 500px);
            }

            &_vari {
              display: flex;
              flex-wrap: wrap;
              // align-items: center;
              margin: 23px auto;
              // gap: 27px;
              padding: 10px;
              justify-content: space-between;

              .btn-color {
                // width: 27.5%;
                // width: 72px;
                width: 28%;
                height: 37px;
                margin-bottom: 20px;
                border: none;
                border-radius: 5px;
                color: transparent;
                cursor: pointer;

                // からし色
                &-1 {
                  background-color: rgb(230, 205, 0);
                }

                &-2 {
                  background-color: rgb(230, 195, 0);
                }

                &-3 {
                  background-color: rgb(199, 222, 0);
                }

                &-4 {
                  background-color: rgb(170, 150, 0);
                }

                &-5 {
                  background-color: rgb(140, 125, 0);
                }

                &-6 {
                  background-color: rgb(130, 110, 0);
                }

                // 黄緑色
                &-7 {
                  background-color: rgb(170, 210, 75);
                }

                &-8 {
                  background-color: rgb(130, 212, 30);
                }

                &-9 {
                  background-color: rgb(125, 170, 25);
                }

                &-10 {
                  background-color: rgb(100, 140, 14);
                }

                &-11 {
                  background-color: rgb(70, 105, 0);
                }

                &-12 {
                  background-color: rgb(60, 95, 0);
                }

                // 緑色
                &-13 {
                  background-color: rgb(50, 185, 115);
                }

                &-14 {
                  background-color: rgb(0, 145, 65);
                }

                &-15 {
                  background-color: rgb(5, 135, 60);
                }

                &-16 {
                  background-color: rgb(0, 115, 50);
                }

                &-17 {
                  background-color: rgb(0, 85, 30);
                }

                &-18 {
                  background-color: rgb(0, 55, 20);
                }

                // エメラルドグリーン
                &-19 {
                  background-color: rgb(35, 190, 185);
                }

                &-20 {
                  background-color: rgb(0, 145, 140);
                }

                &-21 {
                  background-color: rgb(0, 135, 130);
                }

                &-22 {
                  background-color: rgb(5, 115, 110);
                }

                &-23 {
                  background-color: rgb(0, 90, 80);
                }

                &-24 {
                  background-color: rgb(0, 60, 55);
                }

                // 水色
                &-25 {
                  background-color: rgb(110, 200, 245);
                }

                &-26 {
                  background-color: rgb(0, 160, 220);
                }

                &-27 {
                  background-color: rgb(0, 140, 205);
                }

                &-28 {
                  background-color: rgb(0, 120, 170);
                }

                &-29 {
                  background-color: rgb(0, 90, 130);
                }

                &-30 {
                  background-color: rgb(0, 70, 100);
                }

                // 青
                &-31 {
                  background-color: rgb(77, 145, 205);
                }

                &-32 {
                  background-color: rgb(0, 100, 170);
                }

                &-33 {
                  background-color: rgb(0, 90, 160);
                }

                &-34 {
                  background-color: rgb(0, 75, 135);
                }

                &-35 {
                  background-color: rgb(0, 50, 100);
                }

                &-36 {
                  background-color: rgb(0, 35, 70);
                }

                // 紺色
                &-37 {
                  background-color: rgb(100, 90, 170);
                }

                &-38 {
                  background-color: rgb(50, 50, 140);
                }

                &-39 {
                  background-color: rgb(30, 30, 125);
                }

                &-40 {
                  background-color: rgb(15, 10, 100);
                }

                &-41 {
                  background-color: rgb(5, 0, 77);
                }

                &-42 {
                  background-color: rgb(0, 0, 45);
                }

                // 紫色
                &-43 {
                  background-color: rgb(180, 100, 170);
                }

                &-44 {
                  background-color: rgb(135, 0, 125);
                }

                &-45 {
                  background-color: rgb(125, 0, 115);
                }

                &-46 {
                  background-color: rgb(105, 0, 95);
                }

                &-47 {
                  background-color: rgb(80, 0, 70);
                }

                &-48 {
                  background-color: rgb(50, 0, 45);
                }

                // ピンク
                &-49 {
                  background-color: rgb(235, 110, 165);
                }

                &-50 {
                  background-color: rgb(215, 0, 120);
                }

                &-51 {
                  background-color: rgb(200, 0, 110);
                }

                &-52 {
                  background-color: rgb(165, 0, 90);
                }

                &-53 {
                  background-color: rgb(125, 0, 65);
                }

                &-54 {
                  background-color: rgb(95, 0, 50);
                }

                // コーラル
                &-55 {
                  background-color: rgb(240, 110, 125);
                }

                &-56 {
                  background-color: rgb(215, 0, 75);
                }

                &-57 {
                  background-color: rgb(200, 0, 65);
                }

                &-58 {
                  background-color: rgb(165, 0, 55);
                }

                &-59 {
                  background-color: rgb(125, 0, 35);
                }

                &-60 {
                  background-color: rgb(95, 0, 25);
                }

                // オレンジ
                &-61 {
                  background-color: rgb(240, 110, 70);
                }

                &-62 {
                  background-color: rgb(215, 0, 15);
                }

                &-63 {
                  background-color: rgb(200, 0, 10);
                }

                &-64 {
                  background-color: rgb(165, 0, 0);
                }

                &-65 {
                  background-color: rgb(125, 0, 0);
                }

                &-66 {
                  background-color: rgb(80, 0, 0);
                }

                // 黄色
                &-67 {
                  background-color: rgb(255, 185, 55);
                }

                &-68 {
                  background-color: rgb(225, 140, 0);
                }

                &-69 {
                  background-color: rgb(210, 130, 0);
                }

                &-70 {
                  background-color: rgb(170, 105, 0);
                }

                &-71 {
                  background-color: rgb(130, 80, 0);
                }

                &-72 {
                  background-color: rgb(100, 60, 0);
                }
              }
            }
          }
        }
      }

      &_item {
        display: none;

        &_frame {
          text-align: center;
          // background-color: #b9b9b9;
          height: 400px;
          // margin: 7% 15% 0 9%;
          margin: 28px 40px 0 35px;

          h2 {
            font-size: 1.25rem;
            text-align: left;
            margin-bottom: 20px;
          }

          .frame-container {
            overflow: auto;
            height: calc(100vh - 200px);
            @include mq('tab-edit') {
              height: calc(100vh - 750px);
            }
            @media (max-height: 1000px) and (max-width: 900px) {
              height: auto; /* 高さを自動で調整 */
              max-height: 27vh; /* 画面サイズに合わせて高さを制限 */
            }

            &_vari {
              display: flex;
              flex-wrap: wrap;
              margin: 23px auto;
              padding: 10px;

              .resizeButton {
                width: 50%;
                cursor: pointer;
                padding: 0;
                border: none;
                background-color: transparent;

                img {
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }
  }

  .sidebar {
    width: 75px;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 45px;
    left: 0;
    height: 100%;
    transition: transform 0.3s ease;
    transform: translateX(0);
    z-index: 1;

    @include mq('tab-edit') {
      // display: none;
      width: 100%;
      background-color: #252525;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      position: fixed;
      top: auto;
      bottom: 0;
      left: 0;
      height: 45px;
      transition: transform 0.3s ease;
      transform: translateY(0);
      z-index: 1;
    }

    &.open {
      @include mq('tab-edit') {
        transform: translateY(0);
      }
    }
  }

  .sideBtn {
    position: fixed;
    top: 45px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;

    @include mq('tab-edit') {
      // display: none;
      position: fixed;
      top: auto;
      bottom: 0;
      left: 0;
      border-radius: 20px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 100%;
      height: 45px;
      z-index: 3;
    }

    .open-btn {
      font-size: 16px;
      background: #252525;
      // border: 2px solid #436e556e;
      border: none;
      border-radius: 20px;
      color: white;
      cursor: pointer;
      width: 75px;
      height: 75px;

      @include mq('tab-edit') {
        flex: 1; /* ボタンを均等に広げる */
        font-size: 16px;
        background: #252525;
        border: none;
        border-radius: 20px 20px 0 0; /* ボタンの角を丸めない */
        color: white;
        cursor: pointer;
        width: auto;
        height: 100%; /* 高さを100%に設定 */
      }

      &.active {
        background: #535353;
        border: 2px solid #252525;
      }

      img {
        width: 35px;
        height: 36px;
        margin-top: 5px;

        @include mq('tab-edit') {
          width: 24px;
          height: 25px;
          margin-top: 5px;
        }
      }
    }
  }

  .content {
    transition: margin-left 0.3s ease;
    @include mq('pc2-edit') {
      // margin: 140px 0 0 0;
      transition: margin-top 0.3s ease, margin-right 0.3s ease, margin-bottom 0.3s ease, margin-left 0.3s ease;
    }
    @include mq('pc3-edit') {
      // margin: 200px 0 0 0;
      transition: margin-top 0.3s ease, margin-right 0.3s ease, margin-bottom 0.3s ease, margin-left 0.3s ease;
    }
    @include mq('tab-edit') {
      // margin: 85px 0 0 0;
      // transition: margin-top 0.3s ease, margin-right 0.3s ease, margin-bottom 0.3s ease, margin-left 0.3s ease;
      transition: none;
      width: 100%;
      position: absolute;
      top: calc(45% + 40.5px);
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    &.open {
      // margin-left: 405px; /* サイドバーが開いているときのマージン */
      margin-left: 32.5%;
      @include mq('pc-edit') {
        margin-left: 33.5%;
      }
      @include mq('pc4-edit') {
        margin-left: 31.5%;
      }
      @include mq('tab-edit') {
        margin: 0;
        width: 60%;
        position: absolute;
        top: calc(30% + 40.5px);
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
      // @include mq('sp2-edit'){
      //     margin: 90px 20% 0 ;
      //     }
      //     @include mq('sp3-edit'){
      //         margin: 90px 10% 0 ;
      //         }
      //     @include mq('tab-edit'){
      //         margin-left: 36%;
      //         }
    }
    .swiper {
      width: 600px;
      height: 100%;
      // min-width: 600px;
      @include mq('pc2-edit') {
        width: 900px;
      }
      @include mq('pc-edit') {
        width: 450px;
      }
      @include mq('tab-edit') {
        display: block;
        width: 80%;
        min-width: auto;
      }
      &-wrapper {
        .swiper-slide {
          display: flex;
          justify-content: center;
          text-align: center;
          color: #ffffff;
          width: auto;
          height: 100%;
          // background-color: #F7F7F7;
          // display: flex;
          // gap: 5px;
          // justify-content: center;
          // align-items: center;
          &-hidden {
            // visibility: hidden;
            @include mq('tab-edit') {
              display: none;
            }
          }
          &_box {
            // max-width: 500px;
            position: relative;
            // clip-path: inset(20px 21px 26px 21px);
            clip-path: inset(20px 20px 28px);
            @include mq('pc2-edit') {
              clip-path: inset(28px 30px 38px);
            }
            @include mq('pc-edit') {
              clip-path: inset(14px 15px 22px 15px);
            }
            @include mq('tab-edit') {
              width: 90%;
              clip-path: inset(5% 7% 6% 7%);
            }
            @include mq('sp-edit') {
              width: 100%;
            }
            // .img8B {
            //   top: -14px;
            //   height: 102%;
            //   position: relative;
            // }
            // &-last {
            //   clip-path: inset(33px 31px 44px 31px);
            //   @include mq('pc2-edit') {
            //     clip-path: inset(38px 37px 64px 39px);
            //   }
            //   @include mq('pc-edit') {
            //     clip-path: inset(19px 20px 36px 18px);
            //   }
            //   @include mq('tab-edit') {
            //     width: 90%;
            //     clip-path: inset(6% 9% 7% 9%);
            //   }
            //   @include mq('sp-edit') {
            //     width: 100%;
            //   }
            // }

            .input-drop {
              position: absolute;
              width: 100%;
              height: 100%;
              max-height: 85.5%;
              top: 25px;
              opacity: 1;
              // left: 1%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              .flex24 {
                position: relative;
                top: 2%;
                width: 100%;
                height: 83%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                // gap: 10%;
                @include mq('pc2-edit') {
                  height: 83%;
                }
                @include mq('pc-edit') {
                  height: 77%;
                  top: 5%;
                }
                @include mq('tab-edit') {
                  height: 83%;
                  top: 1%;
                }
                @include mq('sp-edit') {
                  height: 81%;
                }

                .flex-area24 {
                  width: 65%;
                  height: 60%;
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 7.6%;
                  margin: 2% 0 2.5% 0;
                  @include mq('pc-edit') {
                    width: 68%;
                  }
                }

                .drop24 {
                  width: 45%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-end;
                  gap: 7%;
                }
              }

              #dropArea13 {
                position: relative;
                top: -1.5%;
                width: 50%;
                height: 39%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;
                border-radius: 10%;
                @include mq('tab-edit') {
                  top: -2%;
                  height: 39%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                  border-radius: 10%;
                }
              }

              #dropArea14 {
                position: relative;
                top: 0%;
                width: 50%;
                height: 33%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;
                border-radius: 10%;
                @include mq('pc-edit') {
                  top: -2%;
                }
                @include mq('tab-edit') {
                  top: 4%;
                }
                @include mq('sp-edit') {
                  top: 1%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                  border-radius: 10%;
                }
              }

              #dropArea15 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;
                border-radius: 10%;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                  border-radius: 10%;
                }
              }

              #dropArea16 {
                position: relative;
                top: -9%;
                width: 48%;
                height: 37%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;
                border-radius: 10%;
                @include mq('pc-edit') {
                  top: -13%;
                }
                @include mq('tab-edit') {
                  top: -6%;
                }
                @include mq('sp-edit') {
                  top: -9%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                  border-radius: 10%;
                }
              }

              #dropArea17 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;
                border-radius: 10%;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                  border-radius: 10%;
                }
              }

              #dropArea18 {
                position: relative;
                top: -3%;
                width: 50%;
                height: 48%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;
                border-radius: 10%;
                @include mq('pc2-edit') {
                  top: -1%;
                  height: 48%;
                }
                @include mq('pc-edit') {
                  top: -6%;
                }
                @include mq('tab-edit') {
                  top: 0%;
                  height: 49%;
                }
                @include mq('sp-edit') {
                  top: -2%;
                  height: 49%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                  border-radius: 10%;
                }
              }

              #dropArea19 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;
                border-radius: 10%;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                  border-radius: 10%;
                }
              }

              #dropArea20 {
                position: relative;
                top: 0%;
                width: 50%;
                height: 44%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;
                border-radius: 10%;
                @include mq('pc2-edit') {
                  top: 2%;
                }
                @include mq('pc-edit') {
                  top: -2%;
                }
                @include mq('tab-edit') {
                  top: 4%;
                }
                @include mq('tab-edit') {
                  top: 2%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                  border-radius: 10%;
                }
              }

              #dropArea21 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;
                border-radius: 10%;

                // 枠サイズ変更関連---
                &.active {
                  border-color: #00000089;
                }

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle43 {
                  width: 45%;
                  height: 25%;
                }
                &.rectangle34 {
                  width: 45%;
                  height: 40%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                  border-radius: 10%;
                }
              }

              #dropArea22 {
                position: relative;
                top: -1.5%;
                width: 48%;
                height: 53%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;
                border-radius: 10%;
                @include mq('pc2-edit') {
                  top: 0;
                }
                @include mq('pc-edit') {
                  top: -4%;
                }
                @include mq('tab-edit') {
                  top: 0%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                  border-radius: 10%;
                }
              }

              #dropArea23 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;
                border-radius: 10%;

                // 枠サイズ変更関連---
                &.active {
                  border-color: #00000089;
                }

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle43 {
                  width: 45%;
                  height: 25%;
                }
                &.rectangle34 {
                  width: 45%;
                  height: 40%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                  border-radius: 10%;
                }
              }

              #dropArea24-1 {
                position: relative;
                // width: 60%;
                width: 100%;
                min-height: 47%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;
                @include mq('pc-edit') {
                  min-height: 46%;
                }

                // 枠サイズ変更関連---
                // &.active {
                //   border-color: #f00;
                // }

                // &.square {
                //   width: 57%;
                //   height: 40%;
                // }

                // &.rectangle {
                //   width: 62%;
                //   height: 30%;
                // }

                // &.mini {
                //   width: 52%;
                //   height: 20%;
                // }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              #dropArea24-2 {
                position: relative;
                // width: 60%;
                width: 100%;
                min-height: 47%;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;
                @include mq('pc-edit') {
                  min-height: 46%;
                }

                // 枠サイズ変更関連---
                // &.active {
                //   border-color: #f00;
                // }

                // &.square {
                //   width: 57%;
                //   height: 40%;
                // }

                // &.rectangle {
                //   width: 62%;
                //   height: 30%;
                // }

                // &.mini {
                //   width: 52%;
                //   height: 20%;
                // }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              #dropArea24-3 {
                position: relative;
                top: 1.8%;
                width: 65%;
                height: 42%;
                // margin: 4% 0 4% 0;
                font-size: 1rem;
                border: 2px dashed #ccc;
                cursor: pointer;
                @include mq('pc-edit') {
                  min-height: 44%;
                  width: 68%;
                }

                // 枠サイズ変更関連---
                // &.active {
                //   border-color: #f00;
                // }

                // &.square {
                //   width: 57%;
                //   height: 40%;
                // }

                // &.rectangle {
                //   width: 62%;
                //   height: 30%;
                // }

                // &.mini {
                //   width: 52%;
                //   height: 20%;
                // }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              textarea {
                overflow: hidden;
                text-align: left;
                resize: none;
                width: 60% !important;
                height: auto;
                font-size: 0.4rem;
                line-height: 1.9;
                background-color: transparent;
                field-sizing: content;
                // letter-spacing: 0.5px;

                @include mq('pc-edit') {
                  font-size: 0.3rem;
                }

                @include mq('pc2-edit') {
                  font-size: 0.6rem;
                }

                @include mq('tab-edit') {
                  font-size: 1.6vw;
                }

                @include mq('sp-edit') {
                  font-size: 1.7vw;
                }
              }
              .text-height {
                field-sizing: content;
                max-height: 65%;
              }
              .vertical-textarea {
                writing-mode: vertical-rl; /* 縦書きの方向（右から左） */
                text-orientation: upright; /* 初期設定：数字や半角文字を縦向きにする */
              }
              .horizontal-text {
                text-orientation: sideways; /* 横並びで表示するスタイル */
                display: inline-block; /* 縦書きの流れの中で横書きを保持 */
              }

              .text-empty {
                box-sizing: border-box; /* パディングとボーダーを計算に含める */
                resize: none; /* ユーザーによるサイズ変更を禁止 */
                overflow: hidden; /* スクロールバーが表示されないようにする */
                border: 2px dashed #ccc;
                field-sizing: content;
                &.no-border {
                  border: none;
                }
              }
              #textArea {
                border: 2px dashed #ccc;
                &.no-border {
                  border: none;
                }

                &13-1 {
                  font-family: 'League Spartan', sans-serif;
                  min-width: 60%;
                  font-size: 1.5rem;
                  line-height: 1.5;
                  font-weight: bold;
                  text-align: center;
                  position: absolute;
                  top: 13.5%;
                  field-sizing: content;

                  @include mq('pc-edit') {
                    font-size: 1.1rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 2.1rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 5.5vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 6vw;
                  }
                }

                &13-2 {
                  font-family: 'Noto Sans JP', serif;
                  min-width: 36%;
                  margin: 1% 0 5%;
                  font-size: 0.5rem;
                  line-height: 1.5;
                  font-weight: bold;
                  text-align: center;
                  color: #ffffff;
                  max-width: 30%;
                  position: absolute;
                  top: 21.8%;
                  field-sizing: content;

                  @include mq('pc-edit') {
                    font-size: 0.38rem;
                    top: 21.6%;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.8rem;
                    top: 21.4%;
                  }

                  @include mq('tab-edit') {
                    font-size: 2vw;
                    top: 22%;
                  }

                  @include mq('sp-edit') {
                    font-size: 2.2vw;
                  }
                }

                &13-3 {
                  position: absolute;
                  top: 72%;
                  // max-height: 16%;
                  font-size: 0.36rem;
                  // text-align: start;
                  // writing-mode: vertical-rl;
                  // text-orientation: upright; /* 数字や半角文字を縦向きにする */
                  text-align: left;
                  field-sizing: content;
                  @include mq('pc-edit') {
                    font-size: 0.27rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.54rem;
                    top: 71%;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.4vw;
                    top: 71%;
                  }

                  @include mq('sp-edit') {
                    font-size: 1.55vw;
                  }
                }

                &14,
                &22 {
                  margin-bottom: 5%;
                  height: auto;
                  font-size: 0.6rem;
                  line-height: 1.5;
                  text-align: center;
                  font-weight: bold;
                  // writing-mode: vertical-rl;
                  // text-orientation: upright; /* 数字や半角文字を縦向きにする */
                  vertical-align: text-bottom;
                  font-size: 0.6rem;
                  position: relative;
                  top: 0;
                  line-height: 1.8;
                  field-sizing: content;

                  @include mq('pc-edit') {
                    font-size: 0.45rem;
                    top: -2%;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.9rem;
                    top: 2%;
                  }

                  @include mq('tab-edit') {
                    font-size: 2.3vw;
                    top: 4%;
                  }

                  @include mq('sp-edit') {
                    font-size: 2.5vw;
                    top: 1%;
                  }
                }

                &22 {
                  @include mq('pc-edit') {
                    top: -3%;
                  }
                  @include mq('pc-edit') {
                    top: 1%;
                  }
                }

                &18 {
                  margin-bottom: 5%;
                  height: auto;
                  font-size: 0.6rem;
                  line-height: 1.5;
                  text-align: center;
                  font-weight: bold;
                  // writing-mode: vertical-rl;
                  // text-orientation: upright; /* 数字や半角文字を縦向きにする */
                  vertical-align: text-bottom;
                  font-size: 0.6rem;
                  position: relative;
                  top: -4%;
                  field-sizing: content;

                  @include mq('pc-edit') {
                    font-size: 0.45rem;
                    top: -7%;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.9rem;
                    line-height: 1.8;
                    top: -1%;
                  }

                  @include mq('tab-edit') {
                    font-size: 2.3vw;
                    top: -1.5%;
                  }

                  @include mq('sp-edit') {
                    font-size: 2.5vw;
                    top: -2.5%;
                  }
                }
                &20 {
                  margin-bottom: 5%;
                  height: auto;
                  font-size: 0.6rem;
                  line-height: 1.5;
                  text-align: center;
                  font-weight: bold;
                  // writing-mode: vertical-rl;
                  // text-orientation: upright; /* 数字や半角文字を縦向きにする */
                  vertical-align: text-bottom;
                  font-size: 0.6rem;
                  position: relative;
                  top: 0%;
                  color: #ffffff;
                  field-sizing: content;

                  @include mq('pc-edit') {
                    font-size: 0.45rem;
                    top: -2%;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.9rem;
                    line-height: 1.8;
                    top: 4%;
                  }

                  @include mq('tab-edit') {
                    font-size: 2.3vw;
                    top: 4%;
                  }

                  @include mq('sp-edit') {
                    font-size: 2.5vw;
                    top: 1.5%;
                  }
                }

                &15 {
                  position: relative;
                  top: 4%;
                  font-size: 4.9px;
                  // text-orientation: upright; /* 数字や半角文字を縦向きにする */
                  field-sizing: content;
                  max-width: 55%;

                  @include mq('pc-edit') {
                    font-size: 0.23rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.46rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.15vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 1.3vw;
                  }

                  @include mq('sp2-edit') {
                    font-size: 1.7vw;
                  }
                }
                &17,
                &19 {
                  position: relative;
                  top: 4%;
                  font-size: 5px;
                  max-width: 46%;
                  field-sizing: content;
                  // text-orientation: upright; /* 数字や半角文字を縦向きにする */

                  @include mq('pc-edit') {
                    font-size: 0.245rem;
                    top: 0;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.49rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.25vw;
                    top: 3%;
                  }

                  @include mq('sp-edit') {
                    font-size: 1.4vw;
                  }

                  @include mq('sp2-edit') {
                    font-size: 1.7vw;
                  }
                }

                &21 {
                  position: relative;
                  top: 4%;
                  font-size: 5px;
                  max-width: 53%;
                  field-sizing: content;
                  // text-orientation: upright; /* 数字や半角文字を縦向きにする */

                  @include mq('pc-edit') {
                    font-size: 0.245rem;
                    top: 0;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.49rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.25vw;
                    top: 3%;
                  }

                  @include mq('sp-edit') {
                    font-size: 1.38vw;
                  }

                  @include mq('sp2-edit') {
                    font-size: 1.7vw;
                  }
                }

                &16-1 {
                  position: relative;
                  top: -7.5%;
                  min-width: 60%;
                  margin-bottom: 5%;
                  font-size: 0.6rem;
                  line-height: 1.5;
                  font-weight: bold;
                  text-align: center;
                  color: #ffffff;
                  margin-top: 10%;
                  field-sizing: content;
                  // text-orientation: upright; /* 数字や半角文字を縦向きにする */

                  @include mq('pc-edit') {
                    font-size: 0.45rem;
                    top: -10.5%;
                  }

                  @include mq('pc2-edit') {
                    font-size: 1rem;
                    top: -7.5%;
                  }

                  @include mq('tab-edit') {
                    font-size: 2.3vw;
                    top: -3.5%;
                  }

                  @include mq('sp-edit') {
                    font-size: 2.5vw;
                    top: -6.5%;
                  }
                }

                &16-2 {
                  position: absolute;
                  top: 65%;
                  min-width: 60%;
                  margin-bottom: 5%;
                  font-size: 0.6rem;
                  line-height: 1.5;
                  font-weight: bold;
                  text-align: center;
                  color: #ffffff;
                  margin-top: 10%;
                  field-sizing: content;
                  // text-orientation: upright; /* 数字や半角文字を縦向きにする */

                  @include mq('pc-edit') {
                    font-size: 0.45rem;
                    top: 60%;
                  }

                  @include mq('pc2-edit') {
                    font-size: 1rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 2.3vw;
                    top: 67%;
                  }

                  @include mq('sp-edit') {
                    font-size: 2.5vw;
                    top: 64%;
                  }
                }

                // &18-1 {
                // margin: 0;
                // position: absolute;
                // width: 63%;
                // color: #fef8f6;
                // font-size: 0.6rem;
                // line-height: 1.5;
                // font-weight: bold;
                // text-align: center;

                // @include mq('pc-edit') {
                //   font-size: 0.45rem;
                // }

                // @include mq('pc2-edit') {
                //   font-size: 0.9rem;
                // }

                // @include mq('tab-edit') {
                //   font-size: 2.2vw;
                // }

                // @include mq('sp-edit') {
                //   font-size: 2.5vw;
                // }
                // }

                // &18-2 {
                //   min-width: 60%;
                //   margin: 5% 0 15%;
                //   color: #fef8f6;
                //   font-size: 0.6rem;
                //   line-height: 1.5;
                //   font-weight: bold;
                //   color: #00000089;
                //   text-align: center;
                //   @include mq('pc-edit') {
                //     font-size: 0.45rem;
                //   }

                //   @include mq('pc2-edit') {
                //     font-size: 0.9rem;
                //   }

                //   @include mq('tab-edit') {
                //     font-size: 2.3vw;
                //   }

                //   @include mq('sp-edit') {
                //     font-size: 2.5vw;
                //   }
                // }

                // &21,
                // &21-2,
                &23-1 {
                  font-family: 'Noto Sans JP', serif;
                  min-width: 60%;
                  margin-bottom: 5%;
                  margin-top: 5% !important;
                  font-size: 0.7rem;
                  line-height: 1.5;
                  font-weight: bold;
                  text-align: center;
                  field-sizing: content;
                  // margin-top: 10%;
                  // text-orientation: upright; /* 数字や半角文字を縦向きにする */

                  @include mq('pc-edit') {
                    font-size: 0.45rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.9rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 2.3vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 2.5vw;
                  }
                }
                &23-2 {
                  max-width: 55%;
                  font-size: 0.35rem;
                  // text-orientation: upright; /* 数字や半角文字を縦向きにする */
                  text-align: left;
                  field-sizing: content;

                  @include mq('pc-edit') {
                    font-size: 0.26rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.54rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.35vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 1.5vw;
                  }
                }

                &24-1 {
                  font-family: 'Montserrat', serif;
                  margin-top: 4%;
                  text-align: center;
                  font-weight: bold;
                  min-width: 60%;
                  font-size: 0.7rem;
                  line-height: 1;
                  field-sizing: content;
                  // text-orientation: upright; /* 数字や半角文字を縦向きにする */

                  @include mq('pc-edit') {
                    font-size: 0.47rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.9rem;
                  }

                  @include mq('tab-edit') {
                    // line-height: 0.7;
                    font-size: 3vw;
                    // margin-top: 16%;
                  }

                  @include mq('sp-edit') {
                    font-size: 2.5vw;
                  }
                }
                &24-2 {
                  height: 75% !important;
                  width: 45% !important;
                  // writing-mode: vertical-rl;
                  font-size: 0.26rem;
                  field-sizing: content;
                  // display: flex;
                  // align-items: center; /* 縦方向の中央揃え */
                  // justify-content: center; /* 横方向の中央揃え */
                  // text-orientation: upright; /* 数字や半角文字を縦向きにする */

                  @include mq('pc-edit') {
                    font-size: 0.19rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.39rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 1.1vw;
                  }
                }
                &24-4 {
                  font-family: 'Montserrat', serif;
                  position: absolute;
                  text-align: center;
                  line-height: 1.5;
                  font-weight: bold;
                  color: #fef8f6;
                  font-size: 12px;
                  top: 96.5%;
                  width: 63% !important;
                  field-sizing: content;
                  // text-orientation: upright; /* 数字や半角文字を縦向きにする */
                  // max-height: 15px;

                  @include mq('pc-edit') {
                    font-size: 0.5rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 1.2rem;
                    line-height: 0.9;
                    top: 98%;
                  }

                  @include mq('tab-edit') {
                    line-height: 0.7;
                    font-size: 3vw;
                    top: 98.5%;
                  }

                  @include mq('sp-edit') {
                    font-size: 2.5vw;
                  }
                }
              }
            }
            .input-drop-first {
              top: 8.5%;
            }
            .input-drop-last {
              top: 6% !important;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: flex-start !important;
              // max-height: 84% !important;
            }
          }
        }
      }
    }
    .swiper-button-prev {
      margin-left: 0;
      transition: margin 0.3s ease;

      @include mq('pc2-edit') {
        // margin: 140px 0 0 0;
        transition: margin-top 0.3s ease, margin-right 0.3s ease, margin-bottom 0.3s ease, margin-left 0.3s ease;
      }

      @include mq('pc3-edit') {
        // margin: 200px 0 0 0;
        transition: margin-top 0.3s ease, margin-right 0.3s ease, margin-bottom 0.3s ease, margin-left 0.3s ease;
      }

      @include mq('tab-edit') {
        // margin: 85px 0 0 0;
        transition: margin-top 0.3s ease, margin-right 0.3s ease, margin-bottom 0.3s ease, margin-left 0.3s ease;
      }

      &.open {
        // margin-left: 405px; /* サイドバーが開いているときのマージン */
        margin-left: 18.5%;

        @include mq('sp-edit') {
          top: var(--swiper-navigation-top-offset, 50%);
          left: var(--swiper-navigation-sides-offset, -5%);
          right: auto;
        }
        @include mq('tab-edit') {
          margin-left: 14%;
          margin-top: -25vh;
        }
      }
    }
    .swiper-button-next {
      margin-left: 0;
      transition: margin 0.3s ease;

      @include mq('pc2-edit') {
        // margin: 140px 0 0 0;
        transition: margin-top 0.3s ease, margin-right 0.3s ease, margin-bottom 0.3s ease, margin-left 0.3s ease;
      }

      @include mq('pc3-edit') {
        // margin: 200px 0 0 0;
        transition: margin-top 0.3s ease, margin-right 0.3s ease, margin-bottom 0.3s ease, margin-left 0.3s ease;
      }

      @include mq('tab-edit') {
        // margin: 85px 0 0 0;
        transition: margin-top 0.3s ease, margin-right 0.3s ease, margin-bottom 0.3s ease, margin-left 0.3s ease;
      }

      &.open {
        // margin-left: 405px; /* サイドバーが開いているときのマージン */
        margin-right: -14%;

        @include mq('sp-edit') {
          top: var(--swiper-navigation-top-offset, 50%);
          right: var(--swiper-navigation-sides-offset, -5%);
          left: auto;
        }
        @include mq('tab-edit') {
          margin-right: 14%;
          margin-top: -25vh;
        }
      }
    }
  }
}
