body {
  @include mq("pc-mypage") {
    // margin-top: 200px;
    overflow: hidden;
    height: 100vh;
  }

  @media screen and (min-width: 901px) and (max-width: 1499px) {
    overflow: hidden;
    height: 100vh;
  }

  // @include mq("tab-mypage") {
  //   margin-top: 153px;
  // }

  // @include mq("sp-mypage") {
  //   // margin: 182px 10px 34px 10px;
  //   margin-top: 155px;
  // }
}

.mypage {
  max-width: 600px;
  text-align: center;
  margin: 80px auto 0;
  padding: 0 15px;

  // @include mq("pc-mypage") {
  //   // margin-top: 200px;
  //   overflow: hidden;
  //   height: 100vh;
  // }

  // @include mq("tab-mypage") {
  //   // margin-top: 153px;
  //   overflow: hidden;
  //   height: 100vh;
  // }

  // @include mq("sp-mypage") {
  //   // margin: 182px 10px 34px 10px;
  //   margin-top: 155px;
  // }

  &_title {
    img {
      width: 62px;
      height: 44px;
    }

    h2 {
      font-size: 1.375rem;
      margin: 18px 0 50px;
    }
  }

  &_flex {
    display: flex;
    justify-content: center;
    gap: 85px;

    @include mq("tab-mypage") {
      display: inline-block;
    }

    @include mq("sp-mypage") {
      display: inline-block;
    }

    &_left {
      display: flex;
      align-items: center;
      gap: 24px;
      text-align: left;

      &_title {
        h2 {
          margin-bottom: 9px;

          @include mq("tab-mypage") {
            margin-bottom: 15px;
          }
        }

        &_box {
          // width: 220px;
          // height: 300px;

          img {
            width: 240px;

            @include mq("tab-mypage") {
              width: 220px;
            }

            @include mq("sp-mypage") {
              width: 200px;
            }
          }
        }
      }

      &_menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 24px;

        @include mq("sp-mypage") {
          margin-top: 47px;
        }

        &_icon {
          margin-bottom: 5px;

          img {
            width: 27px;
          }
        }
      }
    }

    &_right {
      display: flex;
      align-items: center;
      gap: 24px;
      text-align: left;

      @include mq("tab-mypage") {
        margin-top: 36px;
      }

      &_title {
        h2 {
          margin-bottom: 9px;

          @include mq("tab-mypage") {
            margin-bottom: 15px;
          }
        }

        &_box {
          // width: 220px;
          // height: 300px;

          img {
            width: 240px;

            @include mq("tab-mypage") {
              width: 220px;
            }

            @include mq("sp-mypage") {
              width: 200px;
            }
          }
        }
      }

      &_menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 24px;

        @include mq("sp-mypage") {
          margin-top: 47px;
        }

        &_icon {
          margin-bottom: 5px;

          img {
            width: 27px;
          }
        }
      }
    }
  }
}

/* モーダルと背景の指定 */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 50%);
  padding: 40px 20px;
  overflow: auto;
  box-sizing: border-box;
  transform: translate(-50%, -50%);

  // モーダルを非表示にする
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

/* モーダルの擬似要素の指定 */
.modal:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-left: -0.2em;
}

/* クラスが追加された時の指定 */
.modal.is-active {
  opacity: 1;
  visibility: visible;
}

/* モーダル内側の指定 */
.modal-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 451px;
  max-height: 313px;
  width: 80%;
  height: auto;
  background-color: #fdfcf6;
  border-radius: 10px;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 30px;
  max-width: 90%;
  // max-height: 90vh;
  // overflow-y: auto;

  &__check {
    font-size: 20px;
  }
  &__text {
    font-size: 16px;
  }

  &__button-sp {
    display: none;
  }
  @include mq("pc-mypage") {
    .modal-content__button-pc {
      display: block;
    }
    .modal-content__button-sp {
      display: none;
    }
  }
  @include mq("sp-mypage") {
    .modal-content__button-pc {
      display: none;
    }
    .modal-content__button-sp {
      display: block;
    }
  }
}

/* モーダル内側の指定 */
// .modal-container {
//   position: relative;
//   display: inline-block;
//   vertical-align: middle;
//   max-width: 600px;
//   width: 90%;
// }

// .mypage{
//     text-align: center;
//     margin-top: 143px;
//     margin-bottom: 80px;

//     @include mq('pc'){
//         margin-top: 253px;
//         margin-bottom: 180px;
//     }

//     @include mq('sp-mypage'){
//         // いるかわからない
//         min-width: 435px;

//         margin-top: 155px;
//         margin-bottom: 67px;
//     }

//     &_title{

//         img{
//             width: 62px;
//             height: 44px;
//         }

//         h2{
//             font-size: 1.375rem;
//             margin-top: 18px;
//             margin-bottom: 50px;
//         }
//     }

//     &_flex{
//         width: auto;
//         display: flex;
//         justify-content: center;
//         gap: 85px;

//         @include mq('sp-mypage'){
//             flex-direction: column;
//             gap: 55px;
//             align-items: center;
//         }

//         &_left{

//             &_title{
//                 float: left;

//                 h2{
//                     text-align: left;
//                     margin-bottom: 7px;

//                     @include mq('sp-mypage'){
//                         margin-bottom: 15px;
//                     }
//                 }

//                 &_box{
//                     width: 169px;
//                     height: 235px;
//                     // background-color: rgb(255, 228, 196);

//                     img{
//                         width: 173px;
//                     }
//                 }
//             }

//             &_menu{
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 height: 100%;
//                 padding: 22px 0 0 24px;

//                 @include mq('sp-mypage'){
//                     padding: 75px 0 0 15px;
//                 }

//                 &_icon img{
//                     margin: 2px 0 6px;

//                     @include mq('sp-mypage'){
//                         width: 27px;
//                         height: 14.86px;
//                         margin: 0 0 5px;
//                     }
//                 }
//             }
//         }

//         &_right{

//             &_title{
//                 float: left;

//                 h2{
//                     text-align: left;
//                     margin-bottom: 7px;

//                     @include mq('sp-mypage'){
//                         margin-bottom: 15px;
//                     }
//                 }

//                 &_box{
//                     width: 169px;
//                     height: 235px;
//                     // background-color: bisque;

//                     img{
//                         width: 173px;
//                     }
//                 }
//             }

//             &_menu{
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 height: 100%;
//                 padding: 22px 0 0 24px;

//                 @include mq('sp-mypage'){
//                     padding: 75px 0 0 15px;
//                 }

//                 &_icon img{
//                     margin: 2px 0 6px;

//                     @include mq('sp-mypage'){
//                         width: 27px;
//                         height: 14.86px;
//                         margin: 0 0 5px;
//                     }
//                 }
//             }
//         }
//     }

// }
body {
  @include mq("pc-mypage") {
    // margin-top: 200px;
    overflow: hidden;
    height: 100vh;
  }

  @media screen and (min-width: 901px) and (max-width: 1499px) {
    overflow: hidden;
    height: 100vh;
  }

  // @include mq("tab-mypage") {
  //   margin-top: 153px;
  // }

  // @include mq("sp-mypage") {
  //   // margin: 182px 10px 34px 10px;
  //   margin-top: 155px;
  // }
}

.mypage {
  max-width: 600px;
  text-align: center;
  margin: 80px auto 0;
  padding: 0 15px;

  // @include mq("pc-mypage") {
  //   // margin-top: 200px;
  //   overflow: hidden;
  //   height: 100vh;
  // }

  // @include mq("tab-mypage") {
  //   // margin-top: 153px;
  //   overflow: hidden;
  //   height: 100vh;
  // }

  // @include mq("sp-mypage") {
  //   // margin: 182px 10px 34px 10px;
  //   margin-top: 155px;
  // }

  &_title {
    img {
      width: 62px;
      height: 44px;
    }

    h2 {
      font-size: 1.375rem;
      margin: 18px 0 50px;
    }
  }

  &_flex {
    display: flex;
    justify-content: center;
    gap: 85px;

    @include mq("tab-mypage") {
      display: inline-block;
    }

    @include mq("sp-mypage") {
      display: inline-block;
    }

    &_left {
      display: flex;
      align-items: center;
      gap: 24px;
      text-align: left;

      &_title {
        h2 {
          margin-bottom: 9px;

          @include mq("tab-mypage") {
            margin-bottom: 15px;
          }
        }

        &_box {
          // width: 220px;
          // height: 300px;

          img {
            width: 240px;

            @include mq("tab-mypage") {
              width: 220px;
            }

            @include mq("sp-mypage") {
              width: 200px;
            }
          }
        }
      }

      &_menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 24px;

        @include mq("sp-mypage") {
          margin-top: 47px;
        }

        &_icon {
          margin-bottom: 5px;

          img {
            width: 27px;
          }
        }
      }
    }

    &_right {
      display: flex;
      align-items: center;
      gap: 24px;
      text-align: left;

      @include mq("tab-mypage") {
        margin-top: 36px;
      }

      &_title {
        h2 {
          margin-bottom: 9px;

          @include mq("tab-mypage") {
            margin-bottom: 15px;
          }
        }

        &_box {
          // width: 220px;
          // height: 300px;

          img {
            width: 240px;

            @include mq("tab-mypage") {
              width: 220px;
            }

            @include mq("sp-mypage") {
              width: 200px;
            }
          }
        }
      }

      &_menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 24px;

        @include mq("sp-mypage") {
          margin-top: 47px;
        }

        &_icon {
          margin-bottom: 5px;

          img {
            width: 27px;
          }
        }
      }
    }
  }
}

/* モーダルと背景の指定 */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 50%);
  padding: 40px 20px;
  overflow: auto;
  box-sizing: border-box;
  transform: translate(-50%, -50%);

  // モーダルを非表示にする
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

/* モーダルの擬似要素の指定 */
.modal:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-left: -0.2em;
}

/* クラスが追加された時の指定 */
.modal.is-active {
  opacity: 1;
  visibility: visible;
}

/* モーダル内側の指定 */
.modal-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 451px;
  max-height: 313px;
  width: 80%;
  height: auto;
  background-color: #fdfcf6;
  border-radius: 10px;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 30px;
  max-width: 90%;
  // max-height: 90vh;
  // overflow-y: auto;

  &__check {
    font-size: 20px;
  }
  &__text {
    font-size: 16px;
  }

  &__button-sp {
    display: none;
  }
  @include mq("pc-mypage") {
    .modal-content__button-pc {
      display: block;
    }
    .modal-content__button-sp {
      display: none;
    }
  }
  @include mq("sp-mypage") {
    .modal-content__button-pc {
      display: none;
    }
    .modal-content__button-sp {
      display: block;
    }
  }
}

/* モーダル内側の指定 */
// .modal-container {
//   position: relative;
//   display: inline-block;
//   vertical-align: middle;
//   max-width: 600px;
//   width: 90%;
// }

// .mypage{
//     text-align: center;
//     margin-top: 143px;
//     margin-bottom: 80px;

//     @include mq('pc'){
//         margin-top: 253px;
//         margin-bottom: 180px;
//     }

//     @include mq('sp-mypage'){
//         // いるかわからない
//         min-width: 435px;

//         margin-top: 155px;
//         margin-bottom: 67px;
//     }

//     &_title{

//         img{
//             width: 62px;
//             height: 44px;
//         }

//         h2{
//             font-size: 1.375rem;
//             margin-top: 18px;
//             margin-bottom: 50px;
//         }
//     }

//     &_flex{
//         width: auto;
//         display: flex;
//         justify-content: center;
//         gap: 85px;

//         @include mq('sp-mypage'){
//             flex-direction: column;
//             gap: 55px;
//             align-items: center;
//         }

//         &_left{

//             &_title{
//                 float: left;

//                 h2{
//                     text-align: left;
//                     margin-bottom: 7px;

//                     @include mq('sp-mypage'){
//                         margin-bottom: 15px;
//                     }
//                 }

//                 &_box{
//                     width: 169px;
//                     height: 235px;
//                     // background-color: rgb(255, 228, 196);

//                     img{
//                         width: 173px;
//                     }
//                 }
//             }

//             &_menu{
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 height: 100%;
//                 padding: 22px 0 0 24px;

//                 @include mq('sp-mypage'){
//                     padding: 75px 0 0 15px;
//                 }

//                 &_icon img{
//                     margin: 2px 0 6px;

//                     @include mq('sp-mypage'){
//                         width: 27px;
//                         height: 14.86px;
//                         margin: 0 0 5px;
//                     }
//                 }
//             }
//         }

//         &_right{

//             &_title{
//                 float: left;

//                 h2{
//                     text-align: left;
//                     margin-bottom: 7px;

//                     @include mq('sp-mypage'){
//                         margin-bottom: 15px;
//                     }
//                 }

//                 &_box{
//                     width: 169px;
//                     height: 235px;
//                     // background-color: bisque;

//                     img{
//                         width: 173px;
//                     }
//                 }
//             }

//             &_menu{
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 height: 100%;
//                 padding: 22px 0 0 24px;

//                 @include mq('sp-mypage'){
//                     padding: 75px 0 0 15px;
//                 }

//                 &_icon img{
//                     margin: 2px 0 6px;

//                     @include mq('sp-mypage'){
//                         width: 27px;
//                         height: 14.86px;
//                         margin: 0 0 5px;
//                     }
//                 }
//             }
//         }
//     }

// }
