.preview-body {
  background: #d5dadc;
}

.previewB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  @include mq('tab-edit') {
    display: block;
  }

  .content {
    .swiper {
      width: 700px;
      height: 100%;

      @include mq('pc2-edit') {
        width: 1000px;
      }

      @include mq('pc-edit') {
        width: 550px;
      }

      @include mq('tab-edit') {
        display: block;
        width: 80%;
        min-width: auto;
      }

      &-wrapper {
        .swiper-slide {
          display: flex;
          justify-content: center;
          text-align: center;
          color: #ffffff;
          width: auto;
          height: 100%;

          &_box {
            max-width: 500px;
            position: relative;
            clip-path: inset(21px 24px 26px 21px);
            @include mq('pc2-edit') {
              clip-path: inset(32px 34px 35px 30px);
            }
            @include mq('pc-edit') {
              clip-path: inset(18px 19px 21px 17px);
            }
            @include mq('tab-edit') {
              width: 70%;
              margin: 50px 0 0;
              clip-path: inset(5% 7% 6% 7%);
            }
            @include mq('sp-edit') {
              width: 100%;
              clip-path: inset(5% 7% 6% 7%);
            }
            @include mq('sp2-edit') {
              width: 70%;
              clip-path: inset(5% 7% 7% 7%);
            }
            @include mq('sp3-edit') {
              // height: 660px;
              width: 50%;
              clip-path: inset(5% 7% 8% 7%);
            }

            .input-drop {
              position: absolute;
              width: 88%;
              height: 90%;
              top: 16px;
              opacity: 0.8;
              left: 6%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              .background-textArea18-1 {
                position: relative;
                width: 43%;
                height: 20%;
                background-image: url(/edit/images/cloud.png);
                background-size: contain;
                background-repeat: no-repeat;
                margin-bottom: 5%;
                margin-right: 22%;
                display: flex;
                align-items: center;
                justify-content: center;
              }

              // .flex-area24-1 {
              //   width: 60%;
              //   height: 20%;
              //   display: flex;
              //   justify-content: center;
              //   align-items: center;
              //   gap: 5%;
              // }

              // .flex-area24-2 {
              //   width: 60%;
              //   height: 20%;
              //   display: flex;
              //   justify-content: center;
              //   align-items: center;
              //   gap: 5%;
              //   margin: 5% 0 5%;
              // }

              .flex24 {
                width: 60%;
                height: 40%;
                display: flex;
                justify-content: center;
                gap: 5%;

                .drop24 {
                  width: 60%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  gap: 5%;
                }
              }

              #dropArea13 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: none;

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              #dropArea14 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: none;

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              #dropArea15 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: none;

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              #dropArea16 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: none;

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              #dropArea17 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: none;

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              #dropArea18 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: none;

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              #dropArea18 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: none;

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              #dropArea19 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: none;

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              #dropArea20 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: none;

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              #dropArea21 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: none;

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              #dropArea22 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: none;

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              #dropArea23 {
                position: relative;
                width: 45%;
                height: 25%;
                font-size: 1rem;
                border: none;

                &.square {
                  width: 45%;
                  height: 32%;
                }

                &.rectangle {
                  width: 45%;
                  height: 25%;
                }

                &.mini {
                  width: 45%;
                  height: 20%;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              #dropArea24-1 {
                position: relative;
                width: 60%;
                height: 100%;
                font-size: 1rem;
                border: none;

                // 枠サイズ変更関連---
                &.active {
                  border-color: #f00;
                }

                &.square {
                  width: 57%;
                  height: 40%;
                }

                &.rectangle {
                  width: 62%;
                  height: 30%;
                }

                &.mini {
                  width: 52%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              #dropArea24-2 {
                position: relative;
                width: 60%;
                height: 100%;
                font-size: 1rem;
                border: none;

                // 枠サイズ変更関連---
                &.active {
                  border-color: #f00;
                }

                &.square {
                  width: 57%;
                  height: 40%;
                }

                &.rectangle {
                  width: 62%;
                  height: 30%;
                }

                &.mini {
                  width: 52%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              #dropArea24-3 {
                position: relative;
                width: 60%;
                height: 25%;
                font-size: 1rem;
                border: none;

                // 枠サイズ変更関連---
                &.active {
                  border-color: #f00;
                }

                &.square {
                  width: 57%;
                  height: 40%;
                }

                &.rectangle {
                  width: 62%;
                  height: 30%;
                }

                &.mini {
                  width: 52%;
                  height: 20%;
                }

                // --------------------------

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }
              }

              textarea {
                overflow: hidden;
                text-align: center;
                resize: none;
                max-width: 60%;
                height: 20%;
                font-size: 0.5rem;
                line-height: 1.9;
                background-color: transparent;
                border: none;
                outline: none;
                pointer-events: none;
                cursor: not-allowed;

                @include mq('pc-edit') {
                  font-size: 0.37rem;
                }

                @include mq('pc2-edit') {
                  font-size: 0.7rem;
                }

                @include mq('tab-edit') {
                  font-size: 1.3vw;
                }

                @include mq('sp-edit') {
                  font-size: 1.7vw;
                }

                @include mq('sp2-edit') {
                  font-size: 1.2vw;
                }
              }

              #previewTextArea {
                &13-1 {
                  width: 60% !important;
                  font-size: 1.4rem;
                  line-height: 1.5;
                  font-weight: bold;

                  @include mq('pc-edit') {
                    font-size: 1.1rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 2rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 3.5vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 5vw;
                  }

                  @include mq('sp2-edit') {
                    font-size: 3.5vw;
                  }
                }

                &13-2 {
                  min-width: 60%;
                  margin: 1% 0 5%;
                  font-size: 0.52rem;
                  line-height: 1.5;
                  font-weight: bold;

                  @include mq('pc-edit') {
                    font-size: 0.4rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.75rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.3vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 1.9vw;
                  }

                  @include mq('sp2-edit') {
                    font-size: 1.3vw;
                  }
                }

                &13-3 {
                  min-height: 15%;
                  max-height: 15%;
                  margin-top: 5%;
                  writing-mode: vertical-rl;
                }

                &14,
                &22 {
                  max-height: 20%;
                  min-height: 20%;
                  margin-bottom: 5%;
                  font-size: 0.7rem;
                  line-height: 1.5;
                  font-weight: bold;
                  writing-mode: vertical-rl;

                  @include mq('pc-edit') {
                    font-size: 0.55rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 1rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.8vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 2.5vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 2vw;
                  }
                }

                &15,
                &17,
                &19 {
                  max-height: 70%;
                  min-height: 70%;
                  writing-mode: vertical-rl;
                  font-size: 0.46rem;

                  @include mq('pc-edit') {
                    font-size: 0.369rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.66rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.18vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 1.7vw;
                  }

                  @include mq('sp2-edit') {
                    font-size: 1.2vw;
                  }

                }

                &16,
                &20 {
                  min-width: 60%;
                  margin-bottom: 5%;
                  font-size: 0.7rem;
                  line-height: 1.5;
                  font-weight: bold;

                  @include mq('pc-edit') {
                    font-size: 0.56rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 1rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.8vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 2.5vw;
                  }

                  @include mq('sp2-edit') {
                    font-size: 1.8vw;
                  }
                }

                &18-1 {
                  margin: 0;
                  position: absolute;
                  width: 63%;
                  color: #fef8f6;
                  font-size: 0.65rem;
                  line-height: 1.5;
                  font-weight: bold;
                  color: #000000;

                  @include mq('pc-edit') {
                    font-size: 0.55rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.9rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.8vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 2.5vw;
                  }

                  @include mq('sp2-edit') {
                    font-size: 1.8vw;
                  }
                }

                &18-2 {
                  min-width: 60%;
                  margin: 5% 0 15%;
                  color: #fef8f6;
                  font-size: 0.7rem;
                  line-height: 1.5;
                  font-weight: bold;
                  color: #00000089;

                  @include mq('pc-edit') {
                    font-size: 0.55rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 1rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.8vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 2.5vw;
                  }


                  @include mq('sp2-edit') {
                    font-size: 1.8vw;
                  }
                }

                &21-1,
                &21-2,
                &23-1,
                &23-2 {
                  min-height: 30%;
                  max-height: 30%;
                  margin-bottom: 2.5%;
                  margin-top: 2.5%;
                  writing-mode: vertical-rl;
                  font-size: 0.48rem;

                  @include mq('pc-edit') {
                    font-size: 0.38rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.68rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.2vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 1.7vw;
                  }


                  @include mq('sp2-edit') {
                    font-size: 1.2vw;
                  }
                }

                &24-1,
                &24-2 {
                  min-height: 100%;
                  max-height: 100%;
                  writing-mode: vertical-rl;
                  font-size: 0.46rem;

                  @include mq('pc-edit') {
                    font-size: 0.37rem;
                  }

                  @include mq('pc2-edit') {
                    font-size: 0.66rem;
                  }

                  @include mq('tab-edit') {
                    font-size: 1.2vw;
                  }

                  @include mq('sp-edit') {
                    font-size: 1.7vw;
                  }


                  @include mq('sp2-edit') {
                    font-size: 1.2vw;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .button-grid{
    display: none;

    @include mq('tab') {
      display: block;    
      display: grid;
      place-items: center;
      height: 15vh;
    }
  }

}
