.preview-body{
    background: #D5DADC;
    height: auto;

    @include mq('tab-edit'){
        // height: 100vh;
        }
}

.preview{

    .content{
        // margin-top: 130px;
        margin-top: 100px;

        @include mq('pc2-edit'){
            margin: 140px 0 0 0;

                    
            }

            @include mq('pc3-edit'){
                margin: 180px 0 0 0;

                        
                } 

        @include mq('tab-edit'){
                margin: 150px 0 0 0;

                        
                }          
                
                
                @include mq('tab2-edit'){
                    margin: 120px 0 0 0;
                    }



        
        .swiper{

            width: 400px;
            height: 100%;

            // min-width: 600px;

            @include mq('pc2-edit'){
                width: 700px;
                }

            @include mq('pc-edit'){
                width: 300px;
                }

            @include mq('tab-edit'){
                display: block;
                width: 80%;
                min-width: auto;
                }



            &-wrapper{


                .swiper-slide{
                    display: flex;
                    justify-content: center;
                    text-align: center;



                    color: #ffffff;
                    width: auto;
                    height: 100%;
                    // background-color: #f7f7f7;
                    // display: flex;
                    // gap: 5px;
                    // justify-content: center;
                    // align-items: center;

                    &_box{
                        // background-color: #ffffff;
                        // width: 528px;


                    

                        // いるかわからない いや、いりますね
                        max-width: 500px;
                    
                        position: relative;

                        // margin-top: 80px;
                        margin: 50px 0 0;

                        @include mq('tab-edit'){
                            width: 80%;
                            }

                            @include mq('tab2-edit'){
                                width: 50%;
                                }

                            @include mq('sp-edit'){
                                width: 70%;
                                }

                                @include mq('sp2-edit'){
                                    width: 60%;
                                    }

                                    @include mq('sp3-edit'){
                                        // height: 660px;
                                        width: 50%;
            
                                        }

                                        .input-drop{
                                            position: absolute;
                                            width: 88%;
                                            // background: aliceblue;
                                            height: 90%;
                                            top: 16px;
                                            opacity: 0.8;
                                            left: 6%;
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;
                                            justify-content: center;

                                            #dropArea1{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea2{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea3{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea4{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea5{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea6{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea7{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea8{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea9{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea10{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea11{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea12{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea13{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea14{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea15{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea16{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea17{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea18{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea19{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea20{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea21{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea22{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea23{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            #dropArea24{
                                                position: relative;
                                                // top: 20%;
                                                // left: 20%;
                                                width: 60%;
                                                height: 60%;
                                                font-size: 1rem;
                                                border: 2px solid #ccc;

                                                &.square{
                                                    width: 57%;
                                                    height: 40%;
                                                }

                                                &.rectangle{
                                                    width: 62%;
                                                    height: 30%;
                                                }

                                                &.mini{
                                                    width: 52%;
                                                    height: 20%;
                                                }

                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            textarea{
                                                overflow: hidden;
                                                text-align: center;
                                                resize: none;
                                                width: 60%;
                                                height: auto;
                                                margin: 10% 0 10%;
                                                outline: none;
                                                pointer-events: none;
                                                cursor: not-allowed;
                                            }

                                        }


                    }
                }
            }
        }
    }

    .button-flex{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        gap: 30px;

        @include mq('tab-edit'){
            flex-direction: column;
            justify-content: center;
            align-items: center;

            }

    }
}





.swiper-pagination{
}


.swiper-button-prev,
.swiper-button-next {
  top: 32px;
}

.swiper-button-prev{
    left: 36%;
}

.swiper-button-next {
    left: 58%;
  }

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  margin: auto;
}
 
/* 前に戻る画像パス */
.swiper-button-prev:after {
  background-image: url(../../../edit/images/Group\ 293.png);
}
/* 次に進む画像パス */
.swiper-button-next:after {
  background-image: url(../../../edit/images/Group\ 294.png);
}













// トリミングボタン、削除ボタン関連

































