.form{
    text-align: center;
    width: 500px;
    margin: 50px auto;
    padding: 50px;


    &_title{
        margin-bottom: 30px;
    }

 

    &_box{
        text-align: left;
        margin-bottom: 50px;

        input{
            width: 100%;
            padding: 4px;
            border: 1px solid;
        }
        
    }

    .submit{
        width: 120px;
        height: 30px;
        padding: 5px;

    }
}