* {
  margin: 0;
  padding: 0;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}

body{
  margin: 0;
  background-color: #FDFCF6;
}

h2{
  font-size: 1.5rem;
}

p{
  font-size: 1.25rem;
}

img{
  max-width: 100%;
}