* {
  margin: 0;
  padding: 0;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}

button, input, select, textarea {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

input{
  touch-action: manipulation;
  font-size: 16px;
}

body{
  margin: 0;
  background-color: #FDFCF6;
  // 一応
  height: 100%;
  overflow: hidden;

  // @include mq('tab') {
  //   overflow-y: scroll; /* 縦スクロールを有効にする */
  //   -webkit-overflow-scrolling: touch; /* iOSやAndroidでのスムーズスクロール */
  
  // }
}

html{
  height: 100%;
}

h2{
  font-size: 1.5rem;
}

p{
  font-size: 1.25rem;
}

img{
  max-width: 100%;
}